/* 
    Created on : Oct 29, 2014, 10:44:18 AM
    Author     : EnigmaRay
*/
body,select,td{font:11px 'arial',sans-serif;padding:5px;}
input{font:11px 'arial'}
.download {
    color: white;
    border-radius: 2px;
    background: rgb(66, 184, 221); /* rgb(66, 184, 221); this is a light blue */
}
.push_button {
    color: white;
    border-radius: 2px;
    background: #d9534f; /* rgb(66, 184, 221); this is a light blue */
}	
#d9534f
#batchtable table, tr th, tr td{
    border: 1px solid #ccc;
}
.avg_grn{
    background:#589d3e;
    color:#FFF;
    padding:2px;
    line-height:1.8em;   
}            
.avg_red{
    background:#d9534f;
    color:#FFF;
    padding:2px;
    line-height:1.8em;   
}
.avg_blue{
    background:#A52A2A;
    color:#FFF;
    padding:2px;
    line-height:1.8em;   
}
#errmsg{  color: red; }
a.tooltip {outline:none; color:windowtext;opacity: 1 !important;position:inherit !important; } a.tooltip strong {line-height:30px;} a.tooltip:hover {text-decoration:none;} a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:40px; margin-left:-160px; width:300px; line-height:16px; } a.tooltip:hover span{ display:inline; position:absolute; border:2px solid #FFF; color:#EEE; background:#333 url(images/css-tooltip-gradient-bg.png) repeat-x 0 0; } .callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;} /*CSS3 extras*/ a.tooltip span { border-radius:2px; box-shadow: 0px 0px 8px 4px #666; /*opacity: 0.8;*/ }
#inline-success-icon_gif {
    background-position: -77px 0;
    height: 12px;
    width: 12px;
}
.sprites {    
/*    background: transparent url(images/spp.png) no-repeat;    */
    background: transparent 	url("https://images-na.ssl-images-amazon.com/images/G/01/abis-ui/spriteAllListingV8._V391871028_.png") no-repeat;
	/*url("https://images-na.ssl-images-amazon.com/images/G/01/abis-ui/spriteAllListingV8._V391871028_.png")*/
    display: inline-block;
}
#large thead tr th {
    cursor: pointer;
}
table.tablesorter {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-collapse: collapse;
    font-size: 80%;
    color: #000000;
}
table.tablesorter td, table.tablesorter th {
    border: 1px solid #000000;
    padding: 3px;
}
table.tablesorter th {
    font-size: 110%;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #3E577B;
}
table.tablesorter th.sort_header {
    text-decoration: underline;
    cursor: pointer;
}
tr.odd {
    background-color: #E0E0E0;
}
tr.over td {
    background-color: #FFFF99;
}
