.buttons {
    float: left;
    padding-bottom: 15px;
    clear: both;
}

a.bigbut{
    color: #6e6e6e;
    font: bold 15px "Lucida Grande", "Lucida Sans Unicode",  Arial, Tahoma, Helvetica, sans-serif;
    text-decoration: none;
    padding: 12px 24px;
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    border: solid 2px #dcdcdc;
    border-radius: 4px;
    margin-right: 10px;
}
a.bigbut:hover {
    color: #555555;
    border-color: #555555;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.bigbut:active {
    color: #000;
    border-color: #444;
}

button {
	-moz-box-shadow:0px 0px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);

	font-family:"lucida grande",Arial;
	font-size:11px;
	font-weight:bold;

	color:rgba(0,0,0,0.9);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));

	padding:2px 5px 2px 5px;
}

button:hover {
	background:rgba(240,240,240,1);
}

button:active, button:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}
