/* The Modal (background) */
.CaptchaHandler-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add animation to "page content" */

@keyframes slideInUp {
  from {
    transform: translate3d(0, 10%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInUp;
}


/* Modal Content */
.CaptchaHandler-modal-content {
    display:none;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 17px;
    border: 1px solid rgba(254, 101, 101, 0);
    width: auto;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.66);
    border-radius: 1px;
    float: right;
    top: 128px;
    margin-right: 9px;
    animation: slideInUp;
    right: 0px;
    position: fixed;
    animation-duration: 0.5s;
    z-index: 1;
}

#answerTextBox {
    border: 0;
    border-right: 0px solid #009688;
    border: 1px solid #ffc107;
    border-right: 0px solid white;
    color: black;
    padding: 3px;
    padding-left: 7px;
    font-size: 16px;
    float: left;
    margin: 0;
    display: -webkit-inline-box;
    border-radius: 1px;
    background: snow;
}

.submitcode {
    background: #ff9800;
    border: 1px solid #ff9800;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    padding: 0px;
    width: 81px;
    height: 30px;
    margin: 0;
    float: left;
    display: -webkit-inline-box;
}


span#spanmessage {
    font-weight: 500;
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.89);
    text-transform: capitalize;
    width: 293px;
    display: -webkit-box;
    line-height: 20px;
    color: #ff6565;
}

#loadImage{
    /* float: left; */
    /* border: 1px solid rgb(103, 103, 103); */
    height: 84px;
    box-shadow: inset 0px 0px 11px 1px #bbbbbb;
    display: -webkit-box;
    margin-bottom: 11px;
    padding: 8px;
    padding-left: 42px;
    padding-right: 53px;
}
/* The Close Button */
.CaptchaHandler-close {
    color: #ffffff;
    /* float: right; */
    right: 0px;
    margin-top: -23px;
    font-size: 14px;
    font-weight: bold;
    font-family: cursive;
    position: fixed;
    display: -webkit-box;
    background: #ff6565;
    border-radius: 16px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
}


.CaptchaHandler-close:hover,
.CaptchaHandler-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#CaptchaHandler_processing {
    border: 6px solid rgba(255, 255, 255, 0.91);
    border-radius: 50%;
    border-top: 6px solid rgb(7, 202, 174);
    width: 54px;
    height: 54px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 1px rgba(128, 128, 128, 0), inset 0px 0px 1px rgba(128, 128, 128, 0.59);
    background: rgba(214, 214, 214, 0.62) no-repeat;
    margin: 0!important;
    /* background-size: 98%; */
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.CaptchaHandler-messagediv {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.CaptchaHandler-messagediv-content {
	display: none;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 17px;
    border: 1px solid rgba(254, 101, 101, 0);
    width: auto;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.66);
    border-radius: 1px;
    float: right;
    top: 128px;
    margin-right: 9px;
    animation: slideInUp;
    right: 0px;
    position: fixed;
    animation-duration: 0.5s;
    z-index: 1;
}



/* The Close Button */
.CaptchaHandler-message-close {
    color: #ffffff;
    right: 0px;
    margin-top: -23px;
    font-size: 14px;
    font-weight: bold;
    font-family: cursive;
    position: fixed;
    display: -webkit-box;
    background: #ff6565;
    border-radius: 16px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

#CaptchaHandler-message{
    font-weight: 800;
    text-shadow: 0px 0px 0px #dcdcdc;
    width: 293px;
    display: -webkit-box;
    line-height: 20px;
    color: #3a3a3a;
    font-variant: small-caps;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.CaptchaHandler-message-close:hover,
.CaptchaHandler-message-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
