
/*⁠⁠⁠designed by kaleem elahi⁠⁠⁠*/

#fkt-msg {
    display: none;
    padding: 14px 14px 14px 23px;
    background: rgb(255, 247, 224);
    /* border-radius: 4px; */
    border-right: 1px solid rgb(255, 240, 196);
    border-bottom: 1px solid rgb(255, 240, 196);
    border-left: 1px solid rgb(255, 240, 196);
    border-top: 1px solid #f3d375;
    white-space: normal;
    color: #3c3c3c;
    font-style: italic;
}


/* scrollbar  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
} ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
} ::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border: 4px none #ffffff;
  border-radius: 50px;
} ::-webkit-scrollbar-thumb:hover {
  background: #454545;
} ::-webkit-scrollbar-thumb:active {
  background: #000000;
} ::-webkit-scrollbar-track {
  background: #ffffff;
  border: 5px none #ffffff;
  border-radius: 0px;
} ::-webkit-scrollbar-track:hover {
  background: #e9e9e9
    ;
} ::-webkit-scrollbar-track:active {
  background: #d3d3d3
    ;
} ::-webkit-scrollbar-corner {
  background: transparent;
}



/* toggel on/off button for active in */
.flipswitch {
  position: relative;
  width: 86px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999 ;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "ON";
  padding-left: 12px;
  background-color: #7AC754 ;
  color: #FFFFFF ;
}
.flipswitch-inner:after {
  content: "OFF";
  padding-right: 12px;
  background-color: #EBEBEB ;
  color: #888888 ;
  text-align: right;
}
.flipswitch-switch {
  width: 31px;
  margin: -3.5px;
  background: #FFFFFF ;
  border: 2px solid #999999 ;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 59px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

body {
  /*line-height: 1.5;*/
  font-family: Open Sans!important;
  -webkit-font-smoothing: antialiased;
  /*overflow-x: hidden;*/
}

html, body {
    height: 90%;
    background-color: rgb(8, 88, 77);
    font-family: 'Open Sans';
}



@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
  position: relative;
  opacity: .8;
  color: transparent !important;
  text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
  cursor: default;
  color: transparent;
  outline: none !important;
  box-shadow: none;
}

.m-progress:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: transparent;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  top: 50%;
  right: 7%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  -webkit-animation: ld 1s ease-in-out infinite;
  -moz-animation: ld 1s ease-in-out infinite;
  -o-animation: ld 1s ease-in-out infinite;
  animation: ld 1s ease-in-out infinite;
}

.inform-them > li {
    list-style-type: disc!important;
}

.btn-default.m-progress:before {
  border-left-color: #333333;
  border-right-color: #333333;
}

.btn-lg.m-progress:before {
  margin-top: -16px;
  margin-left: -16px;

  width: 32px;
  height: 32px;
}

.btn-sm.m-progress:before {
  margin-top: -9px;
  margin-left: -9px;

  width: 18px;
  height: 18px;
}

.btn-xs.m-progress:before {
  margin-top: -7px;
  margin-left: -7px;

  width: 14px;
  height: 14px;
}

button.btn.btn-primary.syncamz.m-progress.disabled {

  cursor: not-allowed!important;
  background: #F44336!important;
  color: white!important;
  pointer-events: none;
}






/*By Kaleem*/

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 0px;
}

table.striped {
  border: 1px solid rgb(230, 230, 230);
  background: white;
}


.row-fluid {
  text-align: -webkit-center;
}

/*            input[type=text], input[type=password] {
                background: white!important;
                width: 41%;
            }*/

.status-red {
  font-size: 23px;
  color: #F44336;
}

.status-yellow {
  font-size: 23px;
  color: orange;
}


.status-green {
  font-size: 23px;
  color: #33bf38;
}

td, th {
  padding: 0;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 0px;
}

th {
  padding: 2px;
  color: #888888;
  font-weight: 200;
}

.responsive-table > tbody > tr > td {
  background: rgb(255, 253, 253);
}

.totalpage{
  background: #FF9800;
  border-radius: 50px;
  padding: 3px;
  color: white;
  text-shadow: 0px 0px;
  color: black;
  letter-spacing: 1px;
}


input:focus {
  line-height: normal;
  box-shadow: none!important;
  border: none!important;
  border-bottom:1px solid #009688!important;
}

input {
  font-size: 0.9rem!important;
}

input[type="button"]:focus, input[type="submit"]:focus {
  box-shadow: inset 0px -1px 2px 2px rgba(0, 0, 0, 0.23)!important;
  border: 0!important;
}


/*for materialize label by kaleem*/
/*




input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email].validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label {
    width: 18%!important;
    text-align: right!important;
    pointer-events: none;
    float: right!important;
    right: 5px!important;
    background: #f9f9f9;
    padding: 0px;
    transform: translateY(-285%);
    position: initial;
    color: #adadad;
}


 label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
     font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    width: 100%!important;
    text-align: left!important;
    pointer-events: none;
    float: left!important;
    left: 0!important;
    background: #f9f9f9;
    padding: 1px!important;
    transform: translateY(-251%)!important;
    position: initial;
    color: #adadad;
}*/



.hidediv{
  display:none;


}


/*            .modal {
                top: 6%!important;
                display: none;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0px;
                background: rgb(255, 255, 255);
                padding: 0;
                max-height: 100%;
                width: 100%;
                margin: auto;
                overflow-y: auto;
                 border-radius: 2px;
                will-change: top, opacity;
            }*/

.modal {
  /* top: 6%!important; */
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  background: rgb(255, 255, 255);
  padding: 1%;
  /* max-height: 100%; */
  width: 500px;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal .modal-close {
  cursor: pointer;
  /* top: 0px!important; */
  background: #e8e6e6;
  /* border-bottom: 1px solid #e8e6e6; */
  right: 0!important;
  text-align: right;
  float: right;
  position: fixed;
  padding: 4px;
  border-radius: 0px;
}
.modal-close > svg {
  height: 100%;
  /* BACKGROUND: rgb(238, 238, 238); */
}



.kal-modal {
  background: white;
  padding: 2%!important;
  box-shadow: 1px 11px 27px -4px rgba(0, 0, 0, 0.38);
  /* width: 22%!important; */
  position: absolute;
  border-radius: 4px;
}

a.refreshbtn {
  background: rgb(255, 255, 255) url('/images/refresh.png') no-repeat 12% 47% !important;
  background-size: 21px!important;
  /* border: 1px solid gainsboro; */
  padding-left: 32px;
  padding-right: 15px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.53);
  color: rgba(58, 58, 58, 0.7)!important;
  color: rgb(79, 86, 88)!important;
  /*font-size: 10px!important;*/
  border-radius: 23px;
  text-transform: capitalize;
  box-shadow: none;
  text-shadow: 0px 1px 0px rgba(128, 128, 128, 0.22);
}

a.refreshbtn:focus{
  box-shadow: none!important;
  border: 1px solid rgba(238, 81, 32, 0.24)!important;
  /* background: black; */
  border-radius: 2px;
}

a.addbtn {
  background: rgb(242, 242, 242) url(/images/Addacc.png) no-repeat  12% 47% !important;
  background-size: 23px!important;
  /* border: 1px solid gainsboro; */
  padding-left: 30px;
  padding-right: 15px;
  color: rgb(132, 132, 132)!important;
  color: rgb(79, 86, 88)!important;
  /*font-size: 10px!important;*/
  border-radius: 23px;
  text-transform: capitalize;
  box-shadow: none;
  text-shadow: 0px 1px 0px rgba(128, 128, 128, 0.22);
}

a.addbtn:focus{
  box-shadow: none!important;
  border: 1px solid lightgreen!important;
  /* background: black; */
  border-radius: 2px;
}

td {
  padding: 13px;
  white-space: nowrap;
}

a.forlist {
  padding: 0%;
  /* background: #ececec; */
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

table.striped {
  border: none!important;
}

.modal__trigger {
  color: #424d50!important;
  font-weight: 500;
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 5px;
}

.modal__trigger:hover {
  color: black!important;
  text-decoration: none;
}




.linkactive {
  background: transparent url('/images/channelselected.png') no-repeat;
  background-size: 25px;
  background-position: right;
  width: 100%;
  display: block;
  color: #a1a2a2;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 13px;
  filter: grayscale();
  text-decoration: none;
}

td {
  /*border-bottom: 1px solid #f2f2f2;*/
}

.channelbaroptions:hover {
  background: rgba(0, 92, 83, 0.12);
}

.channelselected {
  border: 0!important;
  box-shadow: 0px 1px 1px 0px #009688 !important;
  transition: none;
  background: #4CAF50!important;
  letter-spacing: 0px;
  /* font-weight: 800!important; */
  /* text-shadow: 0px 1px 1px #22b7ab; */
  color: black!important;
  background: rgb(100, 222, 209) url('/images/channelselected.png') no-repeat 97% 50% !important;
  background-size: 25px !important;
  /* background-position: right; */
  /* filter: grayscale(); */
}

button#GotoLogin {
  border: 0!important;
  box-shadow: 0px 1px 1px 0px rgba(92, 92, 92, 0.38) !important;
  transition: none;
  background: #4CAF50!important;
  letter-spacing: 1px;
  font-weight: 600!important;
  /* text-shadow: 0px 1px 1px rgba(194, 194, 194, 0.46); */
  color: #F44336!important;
  background: rgb(242, 242, 242) url('/images/channelselected.png') no-repeat 97% 50% !important;
  background-size: 27px !important;
  /* background-position: right; */
}

.optionselected {
  box-shadow: inset 0px 0px 0px 0px #009688;
  transition: none;
  background: #4CAF50!important;
  letter-spacing: 0px;
  font-weight: 800!important;
  text-shadow: 0px 1px 1px #ffffff;
  color: black!important;
  background: rgba(255, 255, 255, 0) url('/images/channelselected.png') no-repeat 97% 50% !important;
  background-size: 25px !important;
  /* background-position: right; */
  /* filter: grayscale(); */
}

td#account {
  text-align: left;
}
tr.channelbaroptions > td >a {
  color: rgb(86, 86, 86)!important;

  width: 100%;
  margin: auto;
}
.channelbaroptions:hover {
  background: rgba(0, 0, 0, 0.03);
}

tr.channelbaroptions > td >a :hover {
  color: #009688!important;
}


input:before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: inherit;
  cursor: pointer;
}

input:checked:after {
  transform: rotate(-49deg);
  height: 0.5rem;
  border-color: #009688;
  border-top-color: transparent;
  border-right-color: transparent;
}
input:after {
  content: "";
  transition: .4s ease-in-out;
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid rgb(101, 101, 101);
}

span.checklabel {
  /* font-size: 13px; */
  font-weight: 400;
  color: #909090;
  -webkit-user-select: none;
  padding-left: 3px;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  height: 0vmin!important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(251, 251, 251) inset;
  /*border: 1px solid #e8e8e8;*/
  text-align: center;
}

span.caret {
  color: #797979!important;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 0px!important;
  line-height: 0px;
}

.input-field {
  position: relative;
  margin-top: 1rem;
  margin: 26px;
}

.input-field label {
  font-size: 0.8rem;
  font-weight: 400;
  cursor: text;
  transition: .2s ease-out;
}


.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-169%);
}

/*for not appearing msgbar*/
.messagebar{
  display: none!important;
  margin: 0!important;
  padding: 0!important;

}

.topnavmarg {
  margin-top: 0px!important;
  /* position: relative; */
}

.channelnames:hover {
  /* background: rgba(128, 128, 128, 0.09); */
  box-shadow: inset 4px 0px 0px 0px #269585;
}


.dropdown-content li>span {
  font-size: 12px;
  color: #5a5a5a ;
  /* text-shadow: 0px 2px 1px rgba(128, 128, 128, 0.47); */
  display: block;
  font-weight: 800;
  line-height: 22px;
  padding: 14px 16px;
  letter-spacing: 1px;
}









#nickname {
  background: white;
  width: 82%;
  margin: auto;
  /* display: -webkit-box; */
  font-size: 10px!important;
  height: 26px;
  padding-left: 7px;
  bottom: 5px;
  left: 4px;
  /* border-radius: 2px; */
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.39);
  position: absolute;
  border: 0;
}


#msg-success {
  background: #f7f7f7 url(/./images/acc_green.png) no-repeat 2% 50%;
  background-size: 26px;
  border: 1px solid #a7eec5;
  color: #187f18;
  text-shadow: 0px 1px 1px rgba(128, 128, 128, 0);
  min-width: auto;
  margin-bottom: 14px;
  padding: 5px;
  display: block;
  /* border-radius: 100px; */
  font-weight: 400;
  text-transform: capitalize;
  /* visibility: hidden; */
}

.chh-nm {
  font-size: 1.6em;
  text-align: right;
  display: block;
  margin: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 2px;
  /* line-height: 1.42857143; */
  /* vertical-align: middle; */
  border-top: 0px solid #ddd;
  text-align: right;
}

input.simple-input {
  font-size: 1.2em!important;
  padding: 0px!important;
  margin: auto;
  width: auto;
  text-align: center;
  border: 1px solid #e2dfdf;
  display: block;
  height: 1.8rem;
}

input.simple-input:focus {
  border: 1px solid #b7b3b3!important;
}

select {
  display: block;
}



.icon {
  background-image: linear-gradient( 125deg, #6effeb, rgb(41, 153, 137) ,#42a395 );
  width: 28px;
  height: 28px;
  font-size: 9px!important;
  border-radius: 4px;
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.18);
  color: white;
  display: flex;

}

button.btn.btn-primary.syncamz {
  width: 100%;
}


i.fa.fa-circle-o-notch.fa-spin {
  float: left;
}


#connectorlogin > table > tbody > tr :nth-child(2n) {
  float: right;
}


.Userselected {
  box-shadow: inset 3px 0px 0px 0px #31cba6;
  transition: 0.2s;
  letter-spacing: 0.5px;
  padding-left: 9px!important;
}

#account > .forlist{
  transition: 0.2s;

}

*{
  outline: none;
}

.multi-switch {
  width: 30px;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: auto;
}


.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.48),0 1px 5px 0 rgba(191, 191, 191, 0.5),0 3px 1px -2px rgba(0, 0, 0, 0.36);
}



.disabled-form {
  pointer-events: none;
  filter: grayscale();
  color: grey!important;
  /* opacity: 0.99; */
  background: rgb(239, 239, 239)!important;
  cursor: not-allowed!important;
}

#msg-error {
  background: rgba(247, 247, 247, 0) url(/./images/acc_red.png) no-repeat 2% 50%;
  background-size: 10px;
  border: 1px solid rgb(255, 231, 229);
  color: #af5d5d;
  text-shadow: 0px 1px 1px rgba(128, 128, 128, 0);
  min-width: auto;
  margin-bottom: 14px;
  padding: 5px;
  display: -webkit-box;
  /* border-radius: 100px; */
  font-weight: 400;
  text-transform: capitalize;
}

#msg{
  padding: 5px;
  margin: 5px;
  text-transform: capitalize;
  color: #424242;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 4rem;
  line-height: 3rem;
  padding: 0 -0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.toast{
  box-shadow: 0px 15px 17px 2px rgba(0, 0, 0, 0.26),0 1px 5px 0 rgb(65, 65, 65),0 3px 1px -2px rgb(0, 0, 0);
}

.toast{
  float: right;
  border-radius: 2px;
  top: 35px;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.64);
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
