#netWarn {
	display:none; margin:0; padding:0.5em 1em; border:0; font-family:Tahoma, Geneva, sans-serif;font-size:20px; border-bottom:thin solid #FFDEDE; text-align:center; color:#fff; background-color: #900;   position: fixed;   width: 100%;    z-index: 60;
}