    /*    .messagebar {
            background: #990000;
            border-bottom: solid 2px #EEE;
            padding: 5px 0;
            text-align: center;
            color: white;
            width: 100%;
            position: fixed;
        }*/
    
    .messagebar {
        background: rgb(255, 206, 203);
        border-bottom: solid #ffffff;
        padding: 6px 0px;
        text-align: center;
        color: #980d02;
        width: 100%;
        position: fixed;
        z-index: 1;
        margin: 0 !important;
        font-weight: 400;
        z-index: 2;
        top: 0;
    }
    
    .topnavmarg {
        margin-top: 27px;
        /*position: relative;*/
    }
    
    .sloginhead {
        font-weight: normal;
        color: #FFF;
        font-size: 90%;
        padding: 2px;
    }
    
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
    
    #navhistory:hover {
        /* turn off button hover styles */
    }
    
    ul.dropdown-menu {
        margin-top: 0%;
    }
    
    .navbar.navbar-material.navbar-fixed-top {
        background: #009688;
        background: linear-gradient( rgba(0, 119, 108, 0.62), rgba(0, 119, 108, 0.62)), url(../img/header_bg.jpg);
        background: linear-gradient( rgba(0, 119, 108, 0.62), rgba(0, 119, 108, 0.62)), url(/../img/header_bg.jpg);
        background-size: contain;
        background-repeat: repeat;
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.42);
    }
    
    ul.nav.navbar-nav:hover {
        background: rgba(0, 0, 0, 0.17);
    }
    
    .navbar.navbar .dropdown-menu li>a,
    .navbar-default.navbar .dropdown-menu li>a {
        font-size: 12px;
        padding: 7px 12px;
        font-family: Open Sans!important;
        cursor: pointer;
    }
    
    .navbar .navbar-nav>li>a {
        color: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400!important;
    }
    
    input {
        padding: 4px 4px 4px 4px;
        font-size: 12px;
        font-family: Open Sans!important;
        border-radius: 2px;
        border: 0px solid #e2e2e2;
        box-shadow: 1px 2px 3px -2px rgba(0, 0, 0, 0.53);
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4 {
        font-family: 'Open Sans', 'roboto'!important;
        /*font-size:small;*/
    }
    
    body {
        font-family: 'Open Sans', 'Roboto'!important;
        font-size: 11.5px;
        transition: 1s opacity;
    }
    
    .btn,
    .selectpicker,
    .label,
    body,
    input,
    select,
    file,
    table,
    .msg,
    label {
        font-family: Open Sans !important;
    }
    
    .btn,
    .dropdown-menu {
        font-family: 'Open Sans', 'Roboto'!important;
        font-weight: 400;
        font-size: 11.5px;
    }
    
    td,
    th,
    tr,
    tbody {
        font-family: Open Sans !important;
    }
    
    .btn,
    .selectpicker {
        font-family: 'Open Sans', 'sans-serif', 'Roboto' !important;
        font-size: 11.5px;
    }
    
    a {
        font-family: 'Open Sans', 'sans-serif' !important;
    }
    /*new 28-dec*/
    
    input:focus {
        line-height: normal;
        box-shadow: inset 0px 2px 8px -4px grey;
        border: 1px solid rgba(142, 142, 142, 0.6);
    }
    
    input,
    textarea {
        padding: 4px 4px 4px 4px;
        font-size: 12px;
        font-family: Open Sans!important;
        border-radius: 2px;
        border: 0px solid #e2e2e2;
        box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.53);
        vertical-align: middle;
    }
    
    textarea:focus {
        line-height: normal;
        box-shadow: inset 0px 2px 8px -4px grey;
        border: 1px solid rgba(142, 142, 142, 0.6);
        border-radius: 3px;
        padding-left: 5px;
    }
    
    .nav>li>a>ul>li>a>.label {
        font-size: 10.5px!important;
    }
    
    a.dropdown-toggle {
        font-size: 12px;
    }
    
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 11px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
    
    input #appdate {
        /* width: 50%; */
        /* padding-left: 12%; */
        /* padding-right: 4px; */
        margin: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 0px 0px 1px dimgrey;
        text-align: center;
        background: rgb(255, 255, 255) url(/images/calender.png) no-repeat 2%;
        background-size: 18px;
    }
    /*input.date {
       width: 50%;
       padding-left: 12%;
       padding-right: 4px;
      margin: 0px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 0px 0px 1px dimgrey;
      text-align: center;
      background: rgb(255, 255, 255) url(/images/calender.png) no-repeat 2%;
      background-size: 11%;
    }*/
    
    .date {
        margin: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 0px 0px 1px dimgrey;
        font-size: 11.5px;
        background: transparent url(/images/calender.png) no-repeat 2%;
        background-size: 18px;
        box-shadow: none!important;
        border-bottom: 1px solid #dddddd !important;
        padding-left: 23px !important;
        padding-right: 3px !important;
    }
    
    .date:focus {
        box-shadow: 0px 0px 0px 1px rgba(41, 153, 137, 0.28);
        background: white url(/images/calender.png) no-repeat 2%;
        ;
        background-size: 20px;
    }
    
    .date:hover {
        box-shadow: 0px 0px 0px 1px rgba(41, 153, 137, 0.28);
        background: white url(/images/calender.png) no-repeat 2%;
        ;
        background-size: 20px;
    }
    /*#reportrange{
      margin: 0px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 0px 0px 1px dimgrey;
    font-size: 11.5px;
        background: transparent url(/images/calender.png) no-repeat 2%;
      background-size: 11%;
        box-shadow: none!important;
        border-bottom: 1px solid #dddddd !important;
        padding-left: 23px !important;
        padding-right: 3px !important;
    }

    #reportrange:focus {
       box-shadow: 0px 0px 0px 1px rgba(41, 153, 137, 0.28);
       background: white url(/images/calender.png) no-repeat 2%;;
       background-size: 11%;
    }  */
    
    input#cstdate {
        /* width: 50%; */
        padding-left: 11px;
        padding-right: 4px;
        /* margin: 0px; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 0px 1px 1px 0px #c3c3c3;
        text-align: left;
        background: rgba(0, 0, 0, 0) url(/images/calender.png) no-repeat 97%;
        background-size: 22px;
        cursor: pointer;
        /* filter: invert(); */
        /* background: rgba(0, 0, 0, 0); */
    }
    
    input[type="checkbox"] {
        /* padding: 4px 4px 4px 4px; */
        /* font-size: 12px; */
        font-family: Open Sans!important;
        /* border-radius: 2px; */
        border: 0px solid #e2e2e2;
        box-shadow: none;
        background: rgba(244, 67, 54, 0);
    }
    
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
    /*added on 10-March-17*/
    
    input,
    textarea {
        padding: 5px 9px;
        font-size: 12px;
        font-family: Open Sans!important;
        border-radius: 2px;
        border: 1px solid #e2e2e2;
        box-shadow: 0px 0px 0px 0px rgba(27, 22, 22, 0);
        vertical-align: middle;
    }
    
    input[type='submit'] {
        padding: 5px 9px!important;
    }
    
    input:focus {
        box-shadow: none;
        border: 1px solid rgb(47, 212, 255);
    }
    
    input#searchkal:focus {
        border: 1px solid rgb(0, 202, 255)!important;
        width: 23vmax;
        box-shadow: none!important;
    }
    
    input#searchkal:hover {
        /*    box-shadow: 0px 3px 3px -1px rgb(206, 206, 206)!important;
    border: none!important;
    */
        box-shadow: none!important;
        /*border: none!important;*/
    }
    
    input#searchkal:focus {
        border-bottom: 1px solid rgb(96, 218, 201);
        width: 23vmax;
    }
    
    input#searchkal {
        padding-left: 1%;
        padding-right: 4%;
        color: #5f5f5f;
        text-align: left;
        background: rgb(255, 255, 255) url(/img/search.gif) no-repeat 95%;
        border: 1px solid rgb(228, 228, 228)!important;
        width: 13vmax;
        left: 0;
        position: relative;
        z-index: 1;
        /* top: 12%; */
        border-radius: 1px;
        font-size: 13px;
        /* font-weight: 100; */
        box-shadow: 0px 0px 0px 0px rgb(221, 221, 221);
        transition: 0.3s;
        /* box-shadow: none!important; */
        padding: 5px 9px;
    }
    
    input#goto {
        z-index: 19!important;
        /* position: initial; */
        float: left!important;
        padding: 0.67vmin 1.2vmin!important;
        font-size: 1.6vmin!important;
        /* margin-left: 5px; */
        line-height: 1.42857143!important;
        color: rgb(255, 255, 255)!important;
        /* font-weight: bold; */
        right: 2px!important;
        text-decoration: none!important;
        background-color: #008cb1!important;
        /* border: 0.1vmin solid #ddd; */
        border-radius: 0px !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        margin: 11% 0%!important;
    }
    
    input#goto:focus {
        border: none!important;
    }
    /*button#downloadlisting:active {
    background: #80bf83!important;
    color: #ffffff!important;
    box-shadow: inset 0px 1px 12px -2px rgba(0, 0, 0, 0.85)!important;
    border: 1px solid rgb(230, 230, 230) !important;
}*/
    
    button#downloadlisting {
        padding: 6px 4px!important;
        background: rgb(255, 255, 255)!important;
        color: #4CAF50!important;
        border: 0!important;
        transition: 0.5s!important;
        border-radius: 2px!important;
        float: left!important;
        width: 3em!important;
        border-radius: 3px!important;
        font-size: 16px!important;
        font-weight: 100!important;
        box-shadow: none!important;
        margin: -1px;
        margin-left: 8px!important;
        border: 1px solid #e2e2e2!important;
    }
    
    input#uploadlisting:active {
        background: #1282b4!important;
        color: #ffffff!important;
        box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.5)!important;
        border: 0px solid rgb(230, 230, 230) !important;
    }
    
    input#uploadlisting {
        padding: 5px 9px!important;
        background: #03A9F4!important;
        color: white!important;
        border: 0;
        transition: 0.5s;
        border-radius: 2px!important;
        float: left;
        width: 6em;
        border-radius: 4px;
        /* font-size: 11px; */
        /* font-weight: 800; */
        margin: 0px!important;
        box-shadow: none!important;
        margin-left: 17px!important;
        margin-top: 0px !important;
    }
    
    #uploadform>.btn-dwn.glyphicon.glyphicon-open {
        background: white!important;
        float: left!important;
        width: auto!important;
        margin: 0px!important;
        background-size: contain!important;
        margin-left: 3%!important;
        padding: 6px 8px!important;
        /* padding-bottom: 0; */
        /* font-weight: 800; */
        /* border: 1px solid rgb(208, 208, 208); */
        border-radius: 3px!important;
        border: 1px solid rgb(224, 224, 224)!important;
        color: #494949!important;
        text-shadow: none!important;
        cursor: pointer!important;
    }
    
    .btn-dwn.glyphicon.glyphicon-open :after {
        content: " file";
    }
    
    a.downloadme {
        background: rgba(246, 249, 249, 0) url(/images/download.png) no-repeat 95% 50% !important;
        background-size: 12px!important;
        color: #777777!important;
        /* border: 1px solid #191919!important; */
        /* padding-left: 24px!important; */
        /* margin: 7px!important; */
        border-radius: 0px;
        filter: invert(100);
    }
    /*by dhrupad joshi :: 2017-04-24 :: for typeahead dropdown-menu scrollbar*/
    
    #typeaheaddrop {
        max-height: 124px;
        overflow-y: auto;
    }