

            ::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            ::-webkit-scrollbar-button {
                width: 0px;
                height: 0px;
            }

            ::-webkit-scrollbar-thumb {
                background: #6f6f6f;
                border: 0.4vmax none #ffffff;
                border-radius: 50px;
            }
            ::-webkit-scrollbar-thumb:hover {
                background: #454545;
            }
            ::-webkit-scrollbar-thumb:active {
                background: #000000;
            }
            ::-webkit-scrollbar-track {
                background: #ffffff;
                border: 5px none #ffffff;
                border-radius: 0px;
            }
            ::-webkit-scrollbar-track:hover {
                background: #e9e9e9;
            }
            ::-webkit-scrollbar-track:active {
                background: #d3d3d3;
            }
            ::-webkit-scrollbar-corner {
                background: transparent;
            }



td {
    border: 0!important;
    /* background: rgba(96, 125, 139, 0.01); */
}



/*

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
 height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}*/


        section{
                margin:10px;
            }
            .form-group,.form-control,.selectpicker{font-family:'Roboto';font-size:12px;font-weight:normal;}

            td,body,input,select,.msg{
                font-family: 'Roboto';
                font-size: 1.3vmin;
                font-weight:normal;
            }

            select.form-control {
                font-size: 1.5vmin;
                width: 100%;
            }

        		.animated.slideRight {
            color: rgb(20, 202, 185);
            }

            .bs-example{
                //	margin: 150px 50px;
            }
            .popover-demo{
                margin-bottom: 20px;
            }

            .popover.top>.arrow {
                bottom: -11px;
                left: 50%;
                margin-left: -11px;
                border-top-color: #999;
                border-top-color: rgba(0,0,0,.25);
                border-bottom-width: 0;
                display: block;
            }

            .popover-title {
                padding: 8px 14px;
                margin: 0;
                font-size: 2vmin;
                /* background-color: rgb(96, 125, 139); */
                border-bottom: 1px solid #cbcbcb;
                border-radius: 5px 5px 0 0;
                text-align: center;
                color: #7a7a7a;
            }
            .popover-content {
                padding: 6px 5px;
                color: #fff;
                top: 50%;
                overflow-y: auto;
                background: rgba(255, 255, 255, 0.05);
                max-height: 100%;
                line-height: 15px;
                font-family: roboto;
                font-size: 1.5vmin;
                text-align: center;
            }


            .popover {
                color: #000000;
                /* line-height: 28px; */
                background: #ffffff;
                border: none;
                border-radius: 7px;
                box-shadow: 0px 2px 10px -4px #000000;
                padding: 8px 10px;
                font-family: roboto,'ubuntu',kal;
                letter-spacing: 1px;
                /* text-shadow: 0px 0px 1px rgb(0, 0, 0); */
                max-width: 100%;
            }
            .popover-content {
                padding: 6px 5px;
                color: #bebebe;
                top: 50%;
                overflow-y: auto;
                background: rgba(255, 255, 255, 0.05);
                max-height: 100%;
                line-height: 15px;
                font-family: roboto;
                font-size: 1.5vmin;
                text-align: center;
            }
            .tooltip-inner {
                color: #ffffff;
                /* line-height: 28px; */
                background: black;
                border: none;
                border-radius: 4px;
                box-shadow: 0px 1px 9px -2px #08332f;
                padding: 1vmin 2vmin;
                font-family: roboto,'ubuntu',kal;
                letter-spacing: 1px;
                /* text-shadow: 0px 0px 1px rgb(0, 0, 0); */
                max-width: 100%;
                animation: 1s cubic-bezier(0.08, 1.39, 1, 1);
                font-size: 1.5vmin;
            }

            .tooltip{

                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 1s;
                /*    animation-name: animatebottom;
                    animation-duration: 1s;*/
            }



            button[disabled], html input[disabled] {
                cursor: not-allowed!important;
                background: grey!important;
                box-shadow: none!important;
            }


            section{
                margin:10px;
            }
            .form-group,.form-control,.selectpicker{font-family:'Roboto';font-size:12px;font-weight:normal;}

            td,body,input,select,.msg{
                font-family: 'Roboto';
                font-size: 12px;
                font-weight:normal;
            }




            /*custom font*/
            @import url(http://fonts.googleapis.com/css?family=Montserrat);

            /*basic reset*/
            * {margin: 0; padding: 0;}

            body {
                height: 100%;
                background: url(http://thecodeplayer.com/uploads/media/gs.png);
                background: #eee;
                background-size: inherit;
            }

            body {
                font-family: roboto, 'kal', verdana;
            }
            /*form styles*/

            #msform {
                /* width: 100%; */
                /* margin: 50px auto; */
                text-align: center;
                position: static;
                /* height: 100%; */
                background: rgba(0, 0, 0, 0.65);
                padding: 3.5vmin 0px;
            }

            #msform fieldset {
                background: white;
                border: 0 none;
                border-radius: 3px;
                box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.11);
                padding: 0vmin 3vmin;
                padding-bottom: 2%;
                box-sizing: border-box;
                /* width: 80%; */
                /* height: 78%; */
                margin: 0 20%;
                position: absolute;
                min-height: 50%;
                min-width: 60%;
            }


            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }


            /*inputs*/
            #msform input, #msform textarea {
                padding: 1vmin;
                /* border-bottom: 1px solid #eee; */
                /* border-radius: 3px; */
                margin-bottom: 0.4vmin;
                width: 100%;
                box-sizing: border-box;
                font-family: roboto;
                /* color: #2C3E50; */
                font-size: 1.5vmin;
                font-weight: 100;
                /* background: black; */
                height: 4vmin;
            }




            fieldset>input:not([type]), input[type="email"], input[type="number"], input[type="password" ], input[type="tel" ], input[type="url" ], input[type="text" ] {
                width: 30%;
                margin-bottom: 0px;
            }
            input.hundred {
                width: 100%;
            }


            /*buttons*/
            #msform .action-button {
                width: 10vmin;
                background: #4CAF50;
                /* font-weight: bold; */
                color: white;
                border: 0 none;
                border-radius: 50px;
                cursor: pointer;
                padding: 0.5vmin 0.5vmin;
                margin: 5px 5px;
            }

            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0px 4px 6px -3px rgb(181, 181, 181), 0 0 0 1px rgb(255, 255, 255);
                /* transition: 0.5s; */
            }

            /*headings*/
            .fs-title {
                font-size: 2vmin;
                text-transform: uppercase;
                color: rgb(81, 183, 174);
                margin-bottom: 10px;
                font-weight: 400;
            }

            .fs-subtitle {
                /* font-weight: normal; */
                font-size: 1.5vmin;
                color: #666;
                margin-bottom: 1vmin;
            }


            /*progressbar*/
            #progressbar {
                margin-bottom: 30px;
                overflow: hidden;
                /*CSS counters to number the steps*/
                counter-reset: step;
            }


            #progressbar li {
		    list-style-type: none;
		    color: white;
		    text-transform: uppercase;
		    font-size: 1.4vmin;
		    width: 24.33%;
		    float: left;
		    /* position: relative; */
		}

            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 2vmin;
                line-height: 2vmin;
                display: block;
                font-size: 1.3vmin;
                font-weight: 800;
                color: rgb(18, 120, 111);
                background: rgb(255, 255, 255);
                border-radius: 13%;
                margin: 0px auto 1vmin auto;
            }


            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 0.2vmin;
                background: white;
                position: absolute;
                left: -50%;
                top: 1vmin;
                z-index: -1;
            }


            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/


            #progressbar li.active:before, #progressbar li.active:after {
                background: rgb(5, 231, 210);
                box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0),0px 4px 9px -4px black;
                padding: 0px;
                color: #383838;
                /* text-shadow: 0px 1px 0px #797979; */
                font-size: 1.4vmin;
                /* border: 1px solid #50d8cc; */
                font-weight: 800;
                border-radius: 11%;
                /* line-height: 2vmin; */
                /* width: 2vmin; */
            }

            label {
                /* display: block; */
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
                text-align: left;
                font-size: 1.3vmin;
                color: #475e5d;
                font-weight: 500;
            }


            th {
                font-size: 1.6vmin;
                color: #7d7982;
                text-align: center;
            }

            td {
                font-size: 1.3vmin;
                color: #7b7b7b;
            }


            .navbar.navbar .dropdown-menu li>a, .navbar-default.navbar .dropdown-menu li>a {
                font-size: 12px;
                padding: 7px 12px;
                font-size: 1.44vmin;
                /* padding: 0; */
            }

            .catnames {
                padding: 0.7vmin;
                color: #878787;
                border-bottom: 0.1vmin solid #e6e6e6;
                background: rgb(255, 255, 255);
                font-weight: 100;
            }


            .arrow {
                display: block!important;
            }


.firstdiv {
    background: linear-gradient(to right,rgba(0, 12, 11, 0.52),rgba(0, 150, 136, 0.54),rgba(0, 0, 0, 0.52)) , url(../images/dsyh_tranos.gif) no-repeat 50%;
    background: linear-gradient( rgba(0, 150, 136, 0.52), rgba(5, 33, 30, 0.44)), url(/../img/header_bg.jpg);
    /* background: grey; */
    /* background: #009688; */
    /* background: #607D8B; */
    /* background: slategrey; */
    background-size: contain, 100%;
    color: #ffffff;
    box-shadow: 0px 0px 46px -12px black;
    font-size: 2vmin;
    font-weight: 100;
    font-family: roboto;
    /* letter-spacing: 1px; */
    /* text-shadow: 0px 1px 2px rgb(136, 136, 136); */
    text-align: -webkit-center;
    padding: 2% 40% 5% 18%;
    /* margin-top: -10px; */
}


.fs2{
    float: none;
    text-align: center;
    width: 29%;
    /* position: relative; */
    /* border-right: 1px solid #dddddd; */
    /* padding: 7px 33px 0px 0px; */
    position: relative;
    margin-left: 35%;
}


.infoline {
    float: left;
    clear: both;
    font-size: 1.4vmin;
    font-style: italic;
    color: #ffffff;
    margin-left: 17%;
    padding-top: 1%;
}





            /* Add animation to "tbody td" */


            @-webkit-keyframes animatebottom {
                from { bottom:-100px; opacity:0 }
                to { bottom:50px; opacity:1 }
            }

            @keyframes animatebottom {
                from{ bottom:-100px; opacity:0 }
                to{ bottom:0; opacity:1 }
            }

















  @media only screen and (max-width: 768px) {
         .radio {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px!important;
    line-height: 49px;
    cursor: pointer;
}

.labeling-box{
width:100%!important;
}



.firstdiv {
    background: linear-gradient(to right,rgba(0, 12, 11, 0.52),rgba(0, 150, 136, 0.54),rgba(0, 0, 0, 0.52)) , url(../images/dsyh_tranos.gif) no-repeat 50%;
    background: linear-gradient(to right,rgba(0, 12, 11, 0.52),rgba(0, 150, 136, 0.54),rgba(0, 0, 0, 0.52)) , url(../images/dsyh_tranos.gif) no-repeat 50%;
    background: linear-gradient( rgba(0, 150, 136, 0.52), rgba(5, 33, 30, 0.44)), url(/../img/header_bg.jpg);
    /* background: grey; */
    /* background: #009688; */
    /* background: slategray; */
    /* background: slategrey; */
    background-size: contain;
    color: #ffffff;
    box-shadow: 0px 0px 46px -12px black;
    font-size: 2vmin;
    font-weight: 100;
    font-family: roboto;
    /* letter-spacing: 1px; */
    /* text-shadow: 0px 1px 2px rgb(136, 136, 136); */
    text-align: -webkit-center;
    padding: 2% 40% 7% 18%;
    /* margin-top: -10px; */
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 2vmin;
    width: 24.33%;
    float: left;
    /* position: relative; */
}
#msform input, #msform textarea {
    padding: 1vmin;
    border-bottom: 1px solid #eee;
    /* border-radius: 3px; */
    /* margin-bottom: 0.4vmin; */
    min-width: 100%;
    box-sizing: border-box;
    font-family: roboto;
    color: #2C3E50;
    font-size: 10px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.39);
    height: 22px;
    margin: 3px 0px!important;
    border-radius: 2px!important;
    /* font-weight: bold; */
}

.fs-title {
    font-size: 2.2vmin;
    text-transform: uppercase;
    color: rgb(81, 183, 174);
    margin-bottom: 10px;
    font-weight: 400;
}

.fs-subtitle {
    /* font-weight: normal; */
    font-size: 2vmin;
    color: #666;
    margin-bottom: 1vmin;
}

select.form-control {
    font-size: 2vmin;
    width: 100%!important;
}


label {
    /* display: block; */
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
    font-size: 1.6vmin;
    color: #475e5d;
    font-weight: 500;
}

.fs2 {
    float: none;
    text-align: center;
    width: 100%;
    /* position: relative; */
    /* border-right: 1px solid #dddddd; */
    /* padding: 7px 33px 0px 0px; */
    position: relative;
    margin-left: 0px;
}


 .action-button {
    min-width: 30%;
    background: #27AE60;
    /* font-weight: bold; */
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 0.5vmin 0.5vmin;
    /* margin: 10px 5px; */
    position: static!important;
}

  }








   @media only screen and (max-width: 414px)  {

       .fquestion {
    font-size: 18px!important;
}


       .headerImg{

           visibility: hidden!important;

       }

    span.header {
        margin-left: 3%!important;
    }


    .radio {
        display: inline-block;
        padding-right: 20px;
        font-size: 13px!important;
        line-height: 49px;
        cursor: pointer;
    }


   .firstdiv {
    background: linear-gradient(to right,rgba(0, 12, 11, 0.52),rgba(96, 125, 139, 0.45),rgba(0, 0, 0, 0.52)) , url(../images/dsyh_trans.gif) no-repeat 50%;
    background-size: contain ,20%;
    color: #ffffff;
    box-shadow: 0px 0px 46px -12px black;
    font-size: 2.3vmax;
    /* font-weight: 100; */
    font-family: roboto;
    letter-spacing: 1px;
    /* text-shadow: 0px 1px 2px rgb(136, 136, 136); */
    text-align: -webkit-center;
    padding: 2% 20% 14% 1%;
    /* margin-top: -10px; */
}

.infoline {
    float: left;
    clear: both;
    font-size: 2.4vmin;
    font-style: italic;
    color: #ffffff;
    margin-left: 3%;
    padding-top: 1%;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 2.5vmin;
    width: 24.33%;
    float: left;
    position: relative;
}

#msform input, #msform textarea {
    padding: 1vmin;
    /* border-bottom: 1px solid #eee; */
    /* border-radius: 3px; */
    /* margin-bottom: 0.4vmin; */
    min-width: 100%;
    box-sizing: border-box;
    font-family: roboto;
    color: #2C3E50;
    font-size: 12px;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.39);
    height: 29px;
    margin: 3px 0px!important;
    /* border-radius: 35px; */
    font-weight: bold;
}

select.form-control {
    font-size: 3vmin;
    width: 100%!important;
}


label {
    /* display: block; */
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
    font-size: 2.6vmin;
    color: #475e5d;
    font-weight: 500;
}


.fs-subtitle {
    /* font-weight: normal; */
    font-size: 3vmin;
    color: #666;
    margin-bottom: 1vmin;
}

.fs-title {
    font-size: 3.5vmin;
    text-transform: uppercase;
    color: rgb(81, 183, 174);
    margin-bottom: 0px;
    font-weight: 400;
    padding: 2%;
    margin: 0!important;
}

hr {
    height: 1px;
    margin: 4px;
}



#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    padding: 2vmin 3vmin;
    box-sizing: border-box;
    width: 87%;
    /* height: 78%; */
    margin: 0 7%;
    position: absolute;
    min-height: 50%;
    min-width: 60%;
}

td {
    border: 0!important;
    /* background: rgba(96, 125, 139, 0.01); */
}


}






/*animation for radio*/


@-webkit-keyframes
cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
}
}
@keyframes
cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
 transform: scale3d(0.3, 0.3, 0.3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
 transform: scale3d(0.9, 0.9, 0.9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
 transform: scale3d(0.97, 0.97, 0.97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}




.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
}

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}


.radio input:checked + .outer {    border: 3px solid #c6c6c6;}


/*.radio input:focus + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #2f3736;
}*/
.radio .outer {
    /* width: 20px; */
    /* height: 20px; */
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 3px solid #c7c7c7;
    border-radius: 50%;
    background-color: #fff;
}


.radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #009688;
    opacity: 0;
}
