/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Mar, 2017, 6:36:11 PM
    Author     : ravin
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Mar, 2017, 3:16:07 PM
    Author     : ravin
*/


th {
    width: 1%;
}

.allinputs{
    /* background: #f4fbfd!important; */
    margin-bottom: 19px;
    /* border: 1px solid rgba(0, 0, 0, 0.08)!important; */
    /* width: 32%!important; */
    /* float: none; */
    /* display: block!important; */
    border-radius: 0px!important;
    box-shadow: 0px 4px 7px -6px rgba(0, 0, 0, 0.31)!important;
    }


.allselect {
    background: #ffffff!important;
    margin-bottom: 22px;
    border: 1px solid rgba(0, 0, 0, 0.08)!important;
    /* width: 32%!important; */
    display: block!important;
    border-radius: 2px!important;
    box-shadow: 0px 4px 7px -6px rgba(0, 0, 0, 0.31)!important;
}

.boxmodal {
    background: white;
    padding: 3%;
    width: 50%;
    margin: auto;
    box-shadow: 0px 23px 43px -4px rgba(0, 0, 0, 0.08);
    OVERFLOW: auto;
}

.button-block {
    margin: 3px;
    width: 48%;
    float: left;
}

input.btn {
    padding: 9px;
    font-weight: 800;
    font-size: 12px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff!important;
}



input, textarea {
    padding: 5px 9px;
    font-size: 12px;
    font-family: Open Sans!important;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 0px 0px rgba(27, 22, 22, 0);
    vertical-align: middle;
    /* display: flex; */
    margin: 0;
    width: 100%;
}


/* Center the loader */




#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {

  text-align: center;
}