::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  border: 4px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #454545;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 5px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #e9e9e9;
}
::-webkit-scrollbar-track:active {
  background: #d3d3d3;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.fullscreenBtn-off {
    background: rgba(251, 251, 251, 0) url('/img/wideview-exit.png') left / 18px no-repeat !important;
}

.canvas-zoom-in {
    width: 100%!important;
    height: 100%!important;
}

.canvas-zoom-out {
    width: 577px!important;
    height: 428px!important;
}

.BtnUnsupported {
    background: rgba(255, 255, 255, 0) url('/img/wideview.png') left no-repeat;
    background-size:  28px;
    padding-left: 22px;
    border: 0;
    filter: contrast(3%);
    height: 23px;
    width: 23px;
    float: left;
    margin-top: -1.5%;
    margin-left: 79px;
    display: -webkit-box;
    position: absolute;
}

.fullscreenBtn {
    background: rgba(255, 255, 255, 0) url('/img/wideview.png') left no-repeat;
    background-size: 28px;
    padding-left: 22px;
    border: 0;
    filter: contrast(3%);
    height: 23px;
    width: 23px;
    float: left;
    margin-top: -1.5%;
    margin-left: 79px;
    display: -webkit-box;
    position: absolute;
}

.fullscreen {
    width: 100%!important;
    position: fixed;
    height: 94%;
    z-index: 999;
    left: 0;
    margin-left: 0px!important;
    bottom: -30px;
    /* margin: auto!important; */
    box-shadow: 0px -12px 21px 0px rgba(0, 0, 0, 0.25) !important;
    border-top: 6px solid white!important;
    display: inline-block;
}


.saveImageBtn {
    background: rgba(251, 251, 251, 0) url('/img/download-img.png') left no-repeat;
     background-size: 17px;
    padding-left: 12px;
    border: 0;
    filter: contrast(3%);
    height: 23px;
     width: 23px; 
    float: left;
    margin-top: -1.5%;
    margin-left: 49px;
    display: -webkit-box;
    position: absolute;
    cursor: pointer;
}

.transform{
transform: scale(1);
}

.myinvert {
    background: transparent url('/img/invert-on.png') center no-repeat ;
    background-size: contain;
    height: 23px;
    width: 23px;
    display: block;
    /* left: 0; */
    margin-left: 8px;
    margin-top: -1.5%;
    position: absolute;
    filter: contrast(0%);
    cursor: pointer;
}

.invert-on {
    filter: invert(82%)!important;
    background: transparent url('/img/invert-off.png') center no-repeat ;
    background-size: contain;
    box-shadow: 0px 14px 36px -12px white !important;
}



.navbar.navbar-material.navbar-fixed-top {
background: linear-gradient( rgba(0, 119, 108, 0.62),rgba(0, 119, 108, 0.62)), url('img/header_bg.jpg');
background-size: contain;
background-repeat: repeat;
}



@font-face{
    font-family: 'kal';
    src: url('css/fonts/bariol/bariol_regular-webfont.eot');
    src: url('css/fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/bariol/bariol_regular-webfont.woff') format('woff'),
         url('css/fonts/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('css/fonts/bariol/bariol_regular-webfont.svg#webfont') format('svg');
}


.canv:hover {
    background: white;
    box-shadow: 0px 9px 62px -17px rgba(0, 0, 0, 0.24);
    transition: 0.2s;
    margin-top: -1px;
}


.canv {
    width: 32%;
    background: rgb(255, 255, 255);
    padding: 48px 0px;
    padding: 2% 0%!important;
    border-radius: 3px;
    box-shadow: 0px 28px 39px -19px rgba(0, 0, 0, 0.21);
    /* margin-top: -1px; */
}

.navbar.navbar-material.navbar-fixed-top
{
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.42);
}


.Chcanv {
    border-radius: 3px;
    box-shadow: 0px 20px 27px -12px rgba(77, 77, 77, 0.28);
    width: 32%;
    float: left;
    margin-left: 1%;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    padding: 0px 0px;
    border-radius: 0px;
    margin-bottom: 6%!important;
}
.ratingcls{
font-size: 1.2vmin;

}




body {
font-family: 'Roboto',"sans-serif";
font-size: 12px;
font-weight: 400;
-o-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

b{font-size:15px;font-weight:500;}

.btn,.dropdown-menu{font-family:'Roboto';font-weight:400;font-size:12px;}
.navbar-normal.navbar .dropdown-menu li > a{font-family:'Roboto';font-weight:400;font-size:12px;}




/*
        @media only screen and (max-width: 500px) {

             Force table to not be like tables anymore
            #no-more-tables table,
            #no-more-tables thead,
            #no-more-tables tbody,
            #no-more-tables th,
            #no-more-tables td,
            #no-more-tables tr {
                display: block;
            }

#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
     display: block;
}
             Hide table headers (but not display: none;, for accessibility)
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            #no-more-tables tr { border: 1px solid #ccc; }

            #no-more-tables td {
                 Behave  like a "row"
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
                white-space: normal;
                text-align:left;
            }

            #no-more-tables td:before {
                 Now like a table header
                position: absolute;
                 Top/left values mimic padding
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }


            Label the data

            #no-more-tables td:before { content: attr(data-title); }

        }*/



/* Center the loader */

@import url('http://fonts.googleapis.com/css?family=Roboto:400,600,700');




@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:50px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


/* new animation */

.animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

@-webkit-keyframes animatetop {
    from { top:-10px; opacity:0 }

    to { top:0px; opacity:1 }
}

@keyframes animatetop {
    from{ top:-10px; opacity:0 }

    to{ top:0; opacity:1 }
}







.loading {
    position: fixed;
    top: 0;
    transition: 1s;
    width: 100%;
    background: rgba(255, 255, 255, 0.79);
    text-align: -webkit-center;
    text-align: -moz-center;
    z-index: 1;
    padding-top: 25%;
    height: 100%;
    margin: auto;
    padding-left: 0;
}

        .myDiv {

            text-align: center;
        }

          .loading-bar {
            display: block;
            width: 3px;
            /* border-bottom: 3px solid rgba(0, 0, 0, 0.1); */
            height: 39px;
            border-radius: 45% 0%;
            animation: loading 4s ease-in-out infinite;
            transition: 1s;
        }

        .loading-bar:nth-child(1) {
            background-color: rgba(185, 217, 106, 0.79);
            animation-delay: 0.50s;
            transition: 1s;
        }

        .loading-bar:nth-child(2) {
            background-color: rgba(241, 91, 95, 0.78);
            animation-delay: 0.50s;
            transition: 1s;
        }

        .loading-bar:nth-child(3) {
            background-color: rgba(51, 191, 242, 0.79);
            animation-delay: .50s;
            transition: 1s;
        }


@keyframes loading {

0% {
    transform: scale(1,0) rotate(251deg);
    transition: 1s;
}

20% {
    transform: scale(2,2) rotate(26deg);
    transition: 1s;
}

40% {
    transform: scale(1,1) rotate(360deg);
    transition: 1s;
}
        }



canvas{
         -moz-user-select: none;
         -webkit-user-select: none;
         -ms-user-select: none;
     }


.twotables {
    display: -webkit-box;
    width: 100%;
}

td {
    margin: 0;
    border: 0;
    background: rgba(243, 243, 243, 0);
    text-align: center;
    font-size: 14px;
}

td, th {
    padding: 0;
    border-right: 1px solid rgb(239, 239, 239)!important;
    border-bottom: 2px solid rgb(245, 245, 245)!important;
    height: 40px;
}

.firstlayout {
    /* height: 118px; */
    /* text-align-last: right; */
    /* background: rgba(0, 0, 0, 0.06); */
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
    /* padding: 0%; */
    /* width: 100%; */
    /* border-radius: 3px!important; */
    margin-top: 17px!important;
    position: relative;
}


.boxdesign {
    width: 24%;
    /* border-bottom: 9px solid #e4e4e4; */
    padding: 0px;
    background: rgb(255, 255, 255);
    float: left;
    /* margin: 14px; */
    /* border-right: 1px solid rgb(224, 224, 224); */
    color: white;
    margin-bottom: 22px;
    margin-right: 1%;
    border-radius: 13px;
    box-shadow: 0px 9px 18px -11px black;
    box-shadow: 0px 9px 18px -11px #8b8b8b;
}

         .dOrderbox{
            font-size: 1.1vmax;
            color: rgb(255, 255, 255);
            font-weight: 100;
            text-transform: uppercase;
            /* clear: both; */
            /* text-shadow: 0px 1px 0px #969696; */
            background: #8bc34a;
            transition: 1s;
            padding: 7px 7px;
            /* text-transform: uppercase; */
            /* font: icon; */
            /* font-variant: small-caps; */
            /* font-family: kal,segeo ui,roboto; */
            border-radius: 12px 12px 0px 0px;
        }

        .dRtobox {
            font-size: 1.1vmax;
            color: rgb(255, 255, 255);
            font-weight: 100;
            text-transform: uppercase;
            /* clear: both; */
            /* text-shadow: 0px 1px 0px #969696; */
            /* display: -webkit-box; */
            background: #f15b5f;
            transition: 1s;
            padding: 7px 7px;
            /* text-transform: uppercase; */
            /* font: icon; */
            /* font-variant: small-caps; */
            /* font-family: kal,segeo ui,roboto; */
            border-radius: 12px 12px 0px 0px;
        }


        .dAvgbox {
            font-size: 1.1vmax;
            color: rgb(255, 255, 255);
            font-weight: 100;
            text-transform: uppercase;
            /* clear: both; */
            /* text-shadow: 0px 1px 0px #969696; */
            /*display: -webkit-box;*/
            background: #33bbe3;
            transition: 1s;
            padding: 7px 7px;
            /* text-transform: uppercase; */
            /* font: icon; */
            /* font-variant: small-caps; */
            /* font-family: kal,segeo ui,roboto; */
            border-radius: 12px 12px 0px 0px;
        }

        .dPaybox {
            font-size: 1.1vmax;
            color: rgb(255, 255, 255);
            font-weight: 100;
            text-transform: uppercase;
            /* clear: both; */
            /* text-shadow: 0px 1px 0px #969696; */
            /*display: -webkit-box;*/
            background: #f15b5f;
            transition: 1s;
            padding: 7px 7px;
            /* text-transform: uppercase; */
            /* font: icon; */
            /* font-variant: small-caps; */
            /* font-family: kal,segeo ui,roboto; */
            border-radius: 12px 12px 0px 0px;
        }



        .dGpbox {
            font-size: 1.1vmax;
            color: rgb(255, 255, 255);
            font-weight: 100;
            text-transform: uppercase;
            /* clear: both; */
            /* text-shadow: 0px 1px 0px #969696; */
           /* display: -webkit-box;*/
            background: #8bc34a;
            transition: 1s;
            padding: 7px 7px;
            text-transform: uppercase;
            /* font: icon; */
            /* font-variant: small-caps; */
            /* font-family: kal,segeo ui,roboto; */
            border-radius: 12px 12px 0px 0px;
        }



.mytotal {
    font-size: 3vmax;
    font-family: 'roboto';
    width: 100%;
    color: #626566 !important;
    text-shadow: -1px -1px #ffffff;
    overflow: auto;
    text-align: -webkit-center;
    /* display: -webkit-box; */
    text-align: center;
    text-align: -moz-center;
    font-weight: 100;
}


.feedbk {
    margin: 0% 1%;
    width: 100%;
}

.maintable{
width: 100%;

}


        td {
            margin: 0;
            border: 0;
            background: rgba(243, 243, 243, 0);
            text-align: center;
        }

td.fbtd {
    font-weight: 300;
}


th.fbtd {
    padding: 1.5%!important;
    font-weight: 400;
    text-align: -webkit-center;
}

.feedbackMeanRating>b {
    font-size: 1.3vmin;
    font-weight: 600;
    /* color: #50b154; */
}


.feedbackMeanRating {
    padding: 1vmin;
}


.secline {
    font-size: 2vmax;
    color: #a1a1a1;
    clear: both;
    text-align: -webkit-center;
    font-family: roboto;
    text-align: center;
    background: white;
    border-radius: 0 0 12px 12px;
    /* box-shadow: 0px -9px 32px -20px black; */
    border-top: 0.1vmin solid #e5e5e5;
    width: 70%;
    overflow: auto;
    font-weight: 100;
}


.small, small {
    font-size: 47%;
}

.mytotal>small {
    color: #607D8B;
    font-weight: 100;
    vertical-align: super;
}

/*span.sloginhead.label.label-default {
    background: rgb(96, 125, 139);
    color: #eae9e9;
    font-size: 12px!important;
    padding: 7px 18px!important;
    box-shadow: 0px 6px 8px -4px #909090;
    border-radius: 3px;
     position: absolute !important;
    margin: 0 !important;
    left: 1%;
    top: 7%;
    color: #ffffff;
    z-index: 17;
}*/






a {
            color: #066b61;
  }


.starRating>img {
    height: 1.5vmin;
    width: 8vmin;
}



td.neutral {
    color: #3588ca;
    font-family: kal;
    text-shadow: 1px 1px 0px white;
}

  td.pos {
    color: #137b18;
    font-family: kal;
    text-shadow: 1px 1px 0px white;
  }


  td.neg {
    color: #b94b43;
    font-family: kal;
    text-shadow: 1px 1px 0px white;
  }

 td.count {
    color: #c7931a;
    font-family: kal;
    text-shadow: 1px 1px 0px white;
}



/*tooltip*/

.popover {
    color: #ffffff;
    /* line-height: 28px; */
    background: #607d8b;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 9px -2px #08332f;
    padding: 8px 10px;
    font-family: roboto,'ubuntu',kal;
    letter-spacing: 1px;
    /* text-shadow: 0px 0px 1px rgb(0, 0, 0); */
    max-width: 100%;
}



 .tooltip-inner {
    color: #ffffff;
    background: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 9px -2px #08332f;
    padding: 1vmin 2vmin;
    font-family: roboto,'ubuntu',kal;
    letter-spacing: 1px;
    max-width: 100%;
    font-size: 1.5vmin;
}

.tooltip{

    /*-webkit-animation-name: animatebottom;*/
    -webkit-animation-duration: 1s;
/*    animation-name: animatebottom;
    animation-duration: 1s;*/
}


.selectforgraph{
    float: right;
    /* position: absolute; */
    margin-top: -24px;
    margin-right: 13px;
    background: white;
    border: 0;
    border-bottom: 1px solid #444141;
    border: 1px solid  #b3b2b2;
    /* width: 64px; */
    border-radius: 3px;
}



.popover-demo{
        margin-bottom: 20px;
}

.popover-title {

    padding: 8px 14px;
    margin: 0;
    font-size: 2vmin;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #cbcbcb;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.popover-content {
    padding: 6px 5px;
    color: #fff;
    top: 50%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.05);
    max-height: 100%;
    line-height: 15px;
    font-family: roboto;
    font-size: 1.5vmin;
    text-align: center;
}





@media only screen and (max-width:767px) {

  .fullscreenBtn-off {
    background: rgba(251, 251, 251, 0) url('/img/wideview-exit.png') left / 18px no-repeat !important;
}

.BtnUnsupported {
    background: rgba(255, 255, 255, 0) url('/img/wideview.png') left no-repeat;
    background-size:  28px;
    padding-left: 22px;
    border: 0;
    filter: contrast(3%);
    height: 23px;
    width: 23px;
    float: left;
    margin-top: -1.5%;
    margin-left: 79px;
    display: -webkit-box;
    position: absolute;
}


  .fullscreenBtn {
    background: rgba(255, 255, 255, 0) url('/img/wideview.png') left no-repeat;
    background-size: 28px;
    padding-left: 22px;
    border: 0;
    filter: contrast(3%);
    height: 23px;
    width: 23px;
    float: left;
    margin-top: 0px;
    margin-left: 79px;
    display: -webkit-box;
    position: absolute;
}

  .saveImageBtn {
    background: rgba(251, 251, 251, 0) url('/img/download-img.png') left no-repeat;
    background-size: 17px;
    padding-left: 4%;
    border: 0;
    filter: contrast(3%);
    height: 23px;
    width: 23px;
    float: left;
    margin-top: 0px;
    margin-left: 49px;
    display: -webkit-box;
    position: absolute;
}



  .myinvert {
    background: transparent url('/img/invert-on.png') center no-repeat !important;
    background-size:  contain;
    height: 23px;
    width: 23px;
    display: block;
    /* left: 0; */
    margin-left: 8px;
     margin-top: 0px;
    position: absolute;
    filter: contrast(0%);
    cursor: pointer;
}


.invert-on {
    filter: invert(82%)!important;
    background: transparent url('/img/invert-off.png') center no-repeat ;
    background-size: contain;
    box-shadow: 0px 14px 36px -12px white !important;
}

.ord.boxdesign {
       width: 49%;
       display: box;
       /* border-bottom: 1px solid #868686; */
       padding: 0px;
       background:  white!important;
       float: left;
       /* margin: 14px; */
       border-bottom:  1px solid #8bc34a;
       color: #ffffff;
       margin-bottom: 1%;
       margin-right: 1%;
       border-radius: 0;
       box-shadow: 0px 0px;

}


.avg.boxdesign {
   width: 99%;
   display: box;
   /* border-bottom: 9px solid #e4e4e4; */
   padding: 0px;
   background:  white!important;
   float: left;
   /* margin: 14px; */
   border-bottom: 1px solid #33bbe3;
   color: white;
   margin-bottom: 1%;
   margin-right: 1%;
   border-radius: 0px;
   box-shadow: 0px 0px;

}

.rto.boxdesign {
   width: 49%;
   display: box;
   /* border-bottom: 9px solid #e4e4e4; */
   padding: 0px;
   background:  white!important;
   float: left;
   /* margin: 14px; */
   border-bottom: 1px solid #f15b5f;
   color: white;
   margin-bottom: 1%;
   margin-right: 1%;
   border-radius: 0px;
   box-shadow: 0px 0px;
  }

  .pay.boxdesign {
      width: 99%;
      display: box;
      /* border-bottom: 9px solid #e4e4e4; */
      padding: 0px;
      background: white!important;
      float: left;
      /* margin: 14px; */
      border-bottom: 1px solid #f15b5f;
      color: white;
      margin-bottom: 1%;
      margin-right: 1%;
      border-radius: 0px;
      box-shadow: 0px 0px;
  }

.gp.boxdesign {
   width: 49%;
   display: box;
   /* border-bottom: 9px solid #e4e4e4; */
   padding: 0px;
   background:  white!important;
   float: left;
   /* margin: 14px; */
   border-bottom:  1px solid #8bc34a;
   color: white;
   margin-bottom: 1%;
   margin-right: 1%;
   border-radius: 0px;
   box-shadow: 0px 0px;
}

.dOrderbox {

   font-size: 3.1vmax!important;
   color: rgb(255, 255, 255);
   font-weight: 100;
   text-transform: uppercase;
   background: #8bc34a;
   transition: 1s;
   padding: 7px 7px;
   border-radius: 0px;
   font-size: 2.1vmax;
}

.dRtobox {
   font-size: 3.1vmax!important;
   color: rgb(255, 255, 255);
   font-weight: 100;
   text-transform: uppercase;
   /* clear: both; */
   /* text-shadow: 0px 1px 0px #969696; */
   background: #f15b5f;
   transition: 1s;
   padding: 7px 7px;
   /* text-transform: uppercase; */
   /* font: icon; */
   /* font-variant: small-caps; */
   /* font-family: kal,segeo ui,roboto; */
   border-radius: 0px;
}


.dAvgbox {
font-size: 3.1vmax!important;
color: rgb(255, 255, 255);
font-weight: 100;
text-transform: uppercase;
/* clear: both; */
/* text-shadow: 0px 1px 0px #969696; */
background: #33bbe3;
transition: 1s;
padding: 7px 7px;
/* text-transform: uppercase; */
/* font: icon; */
/* font-variant: small-caps; */
/* font-family: kal,segeo ui,roboto; */
border-radius: 0px;
}

.dPaybox {
  font-size: 3.1vmax!important;
   color: rgb(255, 255, 255);
   font-weight: 100;
   text-transform: uppercase;
   /* clear: both; */
   /* text-shadow: 0px 1px 0px #969696; */
   transition: 1s;
   padding: 7px 7px;
   /* text-transform: uppercase; */
   /* font: icon; */
   /* font-variant: small-caps; */
   /* font-family: kal,segeo ui,roboto; */
   border-radius: 0px;
}



.dGpbox {
   font-size: 3.1vmax!important;
   color: rgb(255, 255, 255);
   font-weight: 100;
   text-transform: uppercase;

   background: #8bc34a;
   transition: 1s;
   padding: 7px 7px;
   text-transform: uppercase;
   /* font: icon; */
   /* font-variant: small-caps; */
   /* font-family: kal,segeo ui,roboto; */
       border-radius: 0px;
}

.mytotal {
   font-size: 8vmin;
   font-family:'roboto','kal';
   width: 100%;
   /* font-weight: 700; */
   color: #535353 !important;
   overflow: auto;
   text-align: -webkit-center;
   /* display: -webkit-box; */
   text-align: center;
   text-align: -moz-center;
   padding: 3% 0%;
}




.canv {
   background: rgb(255, 255, 255);
   padding: 48px 0px;
   border-radius: 3px;
   width: 98%;
}


.maintable {
   width: 100%!important;
   margin-top: 2%;
}

.feedbk{
   width: 100%!important;
   margin: 0%;
}

.twotables {
   width: 100%;
   display: block;
}


.Chcanv {
    width: 98%;
    border-radius: 3px;
    box-shadow: 0px 0px 7px -2px rgba(77, 77, 77, 0.49);
    float: left;
    margin-left: 1%;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
     padding: 1px 0px;
    border-radius: 3px;
    margin-bottom: 6%!important;
}





td {
   margin: 0;
   border: 0;
   background: rgba(243, 243, 243, 0);
   text-align: center;
   font-size: 2.7vmin;
}

th.fbtd {
   padding: 1.5%!important;
   font-weight: 400;
   text-align: -webkit-center;
   font-size: 2.9vmin;
}

.ratingcls{
   font-size: 0.7vmax;

       }

.feedbackMeanRating>b {
   font-size: 2.3vmin;
   font-weight: 600;

}


.secline {
    font-size: 2vmax;
    color: #1b1b1b;
    clear: both;
    text-align: -webkit-center;
    font-family: roboto;
    text-align: center;
    background: white;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px -9px 32px -20px black;
    border-top: 0.1vmin solid #f2f2f2;
    width: 70%;
    overflow: auto;
    font-weight: 100;
}


.avrg.secline {
    color: transparent;
    background: transparent;
    border: 0;
    height: 0!important;
    overflow: hidden;
    display: none;
}

}


/*end of mobile responv*/



.online{

transition: 0.5s;
}

.offline{
transition: 0.5s;
/*filter: grayscale(100%);*/
}

.bottomMenu {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    background-size: 64px;
    text-align: -webkit-center;
    font-family: helvetica;
    animation-name: animatebottom;
    animation-duration: 0.5s;
    padding-top: 17%;
    z-index: 999;
}




.bottomOnline {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgb(76, 175, 80);
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    font-size: 3vmin;
    font-family: kal;
    font-weight: 100;
    letter-spacing: 1px;
    animation-name: animatetop;
    animation-delay: 1s;
}


  .disabled {
       pointer-events: none !important;
       cursor: default !important;
    }


.allgood {
    display: none;
    color: #cccbcb;
    word-spacing: 4px;
    letter-spacing: 2px;
    padding: 1% 0%;
    bottom: 0;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.45); */
    width: 100%;
}

.wentwrong {
    display: none;
    /* color: #009688; */
    word-spacing: 4px;
    /* text-shadow: 1px 1px #607D8B; */
    letter-spacing: 2px;
    padding: 5% 0%;
}

    .messagebar {
        background: #990000;
        border-bottom: solid 2px #EEE;
        padding: 5px 0;
        text-align: center;
        color: white;
        /*width: 100%;*/
        /*position: fixed;*/

    }
    .topnavmarg{
        margin-top: 27px;
        /*position: relative;*/
    }
    .sloginhead{
        font-weight:normal;
        color:#FFF;
        font-size:90%;
        padding:2px;
    }
    ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
    #navhistory:hover {
        /* turn off button hover styles */
    }
    ul.dropdown-menu {
        margin-top: 0%;
    }

.navbar.navbar-material.navbar-fixed-top {
   background: #009688 ;
   background: linear-gradient( rgba(0, 119, 108, 0.62), rgba(0, 119, 108, 0.62)), url(../img/header_bg.jpg);
   background: linear-gradient( rgba(0, 119, 108, 0.62), rgba(0, 119, 108, 0.62)), url(/../img/header_bg.jpg);
   background-size: contain;
   background-repeat: repeat;
   box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.42);
}
ul.nav.navbar-nav:hover {
   background: rgba(0, 0, 0, 0.17);
}
.navbar.navbar .dropdown-menu li>a, .navbar-default.navbar .dropdown-menu li>a {
   font-size: 11.5px;
   padding: 7px 12px;
   font-family: Open Sans!important;
}
.navbar .navbar-nav>li>a {
   color: inherit;
padding-top: 20px;
   padding-bottom: 20px;
   font-weight: 400!important;
}
input {
   padding: 4px 4px 4px 4px;
   font-size: 12px;
   font-family: Open Sans!important;
   border-radius: 2px;
   border: 0px solid #e2e2e2
;
   box-shadow: 1px 2px 3px -2px rgba(0, 0, 0, 0.53);
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
   font-family: 'Open Sans','roboto'!important;
   /*font-size:small;*/
}
body {
  font-family:   'Open Sans','Roboto'!important;
  font-size: 11.5px;
  transition: 1s opacity;
}
.btn, .selectpicker, .label ,body, input, select, file, table, .msg, label{
   font-family: Open Sans !important;
}
.btn, .dropdown-menu {
   font-family: 'Open Sans','Roboto'!important;
   font-weight: 400;
   font-size: 11.5px;
}
td, th, tr, tbody{
   font-family: Open Sans !important;
}

.btn, .selectpicker {
   font-family: 'Open Sans','sans-serif','Roboto' !important;
   font-size: 11.5px;

}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


                        body {
                          font-family: 'Roboto',"sans-serif";
                          font-size:12px;
                          font-weight:400;
                        }

                        b{font-size:15px;font-weight:500;}

                        .btn,.dropdown-menu{font-family:'Roboto';font-weight:400;font-size:12px;}
                        .navbar-normal.navbar .dropdown-menu li > a{font-family:'Roboto';font-weight:400;font-size:12px;}

                        .zoom-in{
                          -moz-zoom: 0.8;
                          -webkit-zoom: 0.8;
                          zoom: 0.8;

                        }

                        .zoom-out{
                          -moz-zoom: 1;
                          -webkit-zoom: 1;
                          zoom: 1;
                        }

                        @media only screen and (max-width: 500px) {

                          /* Force table to not be like tables anymore */
                          #no-more-tables table,
                          #no-more-tables thead,
                          #no-more-tables tbody,
                          #no-more-tables th,
                          #no-more-tables td,
                          #no-more-tables tr {
                            display: block;
                          }

                          /* Hide table headers (but not display: none;, for accessibility) */
                          #no-more-tables thead tr {
                            position: absolute;
                            top: -9999px;
                            left: -9999px;
                          }

                          #no-more-tables tr { border: 1px solid #ccc; }

                          #no-more-tables td {
                            /* Behave  like a "row" */
                            border: none;
                            border-bottom: 1px solid #eee;
                            position: relative;
                            padding-left: 50%;
                            white-space: normal;
                            text-align:left;
                          }

                          #no-more-tables td:before {
                            /* Now like a table header */
                            position: absolute;
                            /* Top/left values mimic padding */
                            top: 6px;
                            left: 6px;
                            width: 45%;
                            padding-right: 10px;
                            white-space: nowrap;
                            text-align:left;
                            font-weight: bold;
                          }

                          /*
                          Label the data
                          */
                          #no-more-tables td:before { content: attr(data-title); }
                        }



                        th {
                          padding: 13px;
                          color: rgba(0, 0, 0, 0.67);
                          text-align: -webkit-center;
                          text-transform: capitalize;
                          background: linear-gradient(rgba(128, 128, 128, 0.05),rgba(0, 0, 0, 0.14));
                          font-weight: 100!important;
                        }

                        td.pos {
                          color: #137b18;
                          font-family: sans-serif;
                          font-size: 21px;
                          /* text-shadow: 0px 0px 1px greenyellow; */
                        }

                        td.neg {
                          color: #b94b43;
                          font-size: 15px;
                        }

                        td {
                          padding: 12px;
                          margin: 0;
                          border: 0;
                          /*background: #f3f3f3;*/
                          /*text-align: right;*/
                        }
                        td.count {
                          color: orange;
                        }

                        td.neutral {
                          color: #109a94;
                        }





                        /* Center the loader */




                        #loader {
                          position: absolute;
                          left: 50%;
                          top: 50%;
                          z-index: 1;
                          width: 150px;
                          height: 150px;
                          margin: -75px 0 0 -75px;
                          border-radius: 50%;
                          width: 120px;
                          height: 120px;
                          -webkit-animation: spin 2s linear infinite;
                          animation: spin 2s linear infinite;
                        }

                        @-webkit-keyframes spin {
                          0% { -webkit-transform: rotate(0deg); }
                          100% { -webkit-transform: rotate(360deg); }
                        }

                        @keyframes spin {
                          0% { transform: rotate(0deg); }
                          100% { transform: rotate(360deg); }
                        }

                        /* Add animation to "page content" */
                        .animate-bottom {
                          position: relative;
                          -webkit-animation-name: animatebottom;
                          -webkit-animation-duration: 1s;
                          animation-name: animatebottom;
                          animation-duration: 1s
                        }

                        @-webkit-keyframes animatebottom {
                          from { bottom:-100px; opacity:0 }
                          to { bottom:0px; opacity:1 }
                        }

                        @keyframes animatebottom {
                          from{ bottom:-100px; opacity:0 }
                          to{ bottom:0; opacity:1 }
                        }

                        #myDiv {

                          text-align: center;
                        }

                        .dot3loader{
                          width: 30px;
                        }
    
                        canvas{
                          -moz-user-select: none;
                          -webkit-user-select: none;
                          -ms-user-select: none;
                        }

                        .boxdesign {
                          width: 25%;
                          border-bottom: 1px solid #d2dad8;
                          padding: 11px;
                          background: rgb(255, 255, 255);
                          float: left;
                          border-right: 1px solid #f1f1f1;
                          color: white;
                        }

                        .mytotal {
                          font-size: 2.5vmax;
                          font-family: ubuntu;
                          width: 100%;
                          color: #656565!important;
                          overflow: auto;
                        }

                        a {
                          color: white;
                        }

                        td.thead {
                          border: 1px solid transparent!important;
                          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.69);
                          height: 50px;
                        }
                        
                        .info-icon{
                          background: rgb(255, 255, 255) url(/img/info-icon.png) center no-repeat;
                          background-size: 94%;
                          clear: right;
                          padding: 1.5% 1%;
                          float: right;
                          height: 45%;
                          width: 3%;
                          right: 1px;
                          top: 22%;
                          position: absolute;
                          border: 0;
                          border-radius: 100px;
                          margin: 0;
                          margin-right: 1vmin;
                        }
                        
                        
                        .total-calc{
                          background: url('/img/total.png') center no-repeat;
                          background-size: 35px;
                        }
            
.checkint {
    background: white;
    color: rgb(183, 109, 104);
    width: 450px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.15) , 0px 1px 9px rgba(0, 0, 0, 0.4);
    border: 0;
    background: rgb(255, 255, 255) url(/images/loading.svg) 95% 20% no-repeat;
    background-size: 26px;
    animation-name: animatetop;
    animation-duration: 1s;
}