@charset "utf-8";
/* CSS Document */
.menu > li
{
	display: none;
}
.fixed {
	display: block;
	position: absolute;
}
body {
	margin: 0;
	padding: 0;
}
.nav {
	list-style: none;
	border-bottom: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 30px;
	border-top: 3px solid #c60000;
	background: gray;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}
.nav > li {
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	border-left: 1px solid #737373;
	height: 30px;
}
.nav > li:last-child {
	border-right: 1px solid #737373;
}
.pos .nav .submenu {
	right: 51%;
}
.nav > li:last-child:after {
	float: none;
	clear: both;
}
.nav > li a {
	font-weight: bold;
	
	padding-top: 7px;
	padding-bottom: 6px;
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
}
.nav li:last-child .submenu
{
	left: -50px;
}
.submenu {
	display: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	background: #AEAEAE;
	margin-top: 2px;
	width: 150px;
	border: 1px solid gray;
	border-top: none;
	left: -1px;
}
ul.nav li:hover ul.submenu {
	display: block;
}
.submenu > li {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	float: none;
	border-top: 1px solid gray;
	background-color: #aeaeae;
}
.submenu > li a {
	color: black;
	text-align: left;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.submenu > li a:hover {
	color: white;
	background: #c60000;
}

ul.nav:hover .submenu li:hover .innersubmenu {
	display: block;
}
.innersubmenu {
	position: absolute;
	left: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	top: -1px;
	background-color: #aeaeae;
	display: none;
	list-style: none;
	width: 200px;
	border: 1px solid gray;
	border-top: none;
}
.innersubmenu > li a {
	color: black;
	padding-left: 10px;
}
.innersubmenu > li a:hover {
	color: white;
}
.innersubmenu li {
	border-top: 1px solid gray;
}
.nav > .menu_title {
	background: #c60000;
	width: 50px;
	cursor: none;
}
.nav > .menu_title a {
	
	cursor: context-menu;
}
.menua {
	float: left;
}
 @media screen and (max-width: 1280px) {
.newa > .nav {
	border-bottom: 5px solid black;
}
.nav {
	border-right: 3px solid #c60000;
	border-top: none;
}
.menua {
	border-bottom: 2px solid #c60000;
}
}
@media screen and (min-width: 320px) and (max-width: 360px) {
	
	
	
	.menu > li
{
	display: block;
}
	
	
	
	
	
	.nav li:last-child .submenu
{
	left: 0px;
}
.nav {
	width: 250px;
	height: auto;
	border: none;
	text-align: left;
}
.nav > li {
	width: 249px;
	border-left: 1px solid #737373;
	height: 30px;
	border-bottom: 1px solid #aeaeae;
	position: relative;
}
.nav > li:last-child {
	border-right: none;
}
.nav > li a {
	font-weight: bold;
	padding-bottom: 7px;
	padding-top: 7px;
	display: block;
	text-decoration: none;
	color: white;
	text-align: left;
	width: 249px;
	padding-left: 10px;
}
ul.nav li:hover ul.submenu {
	display: none;
}
ul.nav li.active ul.submenu {
	display: block;
}
.submenu {
	display: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	background: #AEAEAE;
	margin-top: 2px;
	width: 150px;
	border: 1px solid gray;
	border-top: none;
	left: -1px;
}
ul.nav li.active {
	height: auto;
}
.submenu {
}
.submenu > li {
	width: 248px;
	height: 30px;
}
.submenu > li a {
	color: black;
	text-align: left;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 5px;
	width: 233px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.submenu > li a:hover {
	color: white;
	background: #c60000;
}
.innersubmenu {
	display: none;
}
ul.nav:hover .submenu li.active:hover .innersubmenu {
	display: block;
}
li.active > .innersubmenu {
	display: block;
}
li.active:hover .innersubmenu {
	display: block;
}
ul.submenu li.active {
	height: auto;
}
.innersubmenu {
	display: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	background: #AEAEAE;
	margin-top: 2px;
	width: 150px;
	border: none;
	border-top: none;
	left: -1px;
	width: 248px;
}
.innersubmenu > li a {
	color: black;
	padding-left: 10px;
	width: 233px;
}
.innersubmenu > li a:hover {
	color: white;
}
.innersubmenu li {
	width: 249px;
	border-top: 1px solid gray;
}
.nav > .menu_title {
	background: #c60000;
	width: 249px;
}.nav > .menu_title.active {
	height: 30px;
}
.menua {
	float: none;
}
.nav li.has_submenu > a:after {
	content: '+';
	position: absolute;
	top: -8px;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.55em 0.5em;
}
.nav li.has_submenu.active > a:after {
	content: '-';
	position: absolute;
	top: -8px;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.55em 0.5em;
}
.menua {
	border: none;
}


#menu > ul
{
	display: block;
}



.menu > li {
    width: 38px;
   cursor: pointer;
    background:gray;
    padding: 10px;
    color: white;
}
ul.menu > ul
{
	display: none;
}
ul.menu > ul.active
{
	display: block;
}
ul.active > li
{
	background: gray;
}
}
