@charset "utf-8";
/* CSS Document */

td,body,.msg{
font-family: Arial;
font-size: 12px;
}

table.db-table 		{ border-spacing:0px;}
table.db-table th	{ background:#eee; padding:2px; }
table.db-table td	{ padding:5px; border:1px solid #666;vertical-align:top;}


textarea,select,input{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
}

.cssbut{
	position: relative;
	display: inline-block;
	background: #666;
	color: #fff !important;
	border-radius: 2px;
	border: 0px;
/*	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);*/
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	text-align: center;
	padding: 5px;	
	cursor:pointer;
	text-decoration:none;
}

.cssbut:hover{
	background:#333;color:#fff !important;
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
}

.cssbut:active{
	top:2px;
	background:#333;color:#fff !important;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	box-shadow: 0px 0px 0px #333;
}

.btndel{
	position: relative;
	display: inline-block;
	background: #930;
	color: #fff !important;
	border-radius: 2px;
	border: 0;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	text-align: center;
	padding: 5px;	
	cursor:pointer;
	text-decoration:none;
}

.btndel:hover{
	background:#333;color:#fff !important;
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
}

.btndel:active{
	top:2px;
	background:#333;color:#fff !important;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	box-shadow: 0px 0px 0px #333;
}

.paging{
	position: relative;
	display: inline-block;
	background: #CCC;
	font-weight:bold;
	color: #000 !important;
	border-radius: 2px;
	border: 0px;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	text-align: center;
	padding: 9px;	
	cursor:pointer;
	text-decoration:none;
}

.paging:hover{
	background:#333;color:#fff !important;
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
}

.paging_sel{
	position: relative;
	display: inline-block;
	background: #900000;
	font-weight:bold;
	color: #fff !important;
	border-radius: 2px;
	border: 0px;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	text-align: center;
	padding: 9px;	
	cursor:pointer;
	text-decoration:none;
}

.div_foot{
	margin-top: 8px;
	margin-right:40px;
	display: table-cell;
    height: 33px;
    vertical-align: middle;	
	float:right;
}

#header {
	position:fixed;
	left:0px;
	top:0px;
	height:40px;
	width:100%;
	padding:2px;
	z-index:50;
	background:#EEE;
	border-bottom:2px dashed #333;
}

#footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:50px;
	width:100%;
	padding:2px;
	z-index:50;
	background:#EEE;
	border-top:2px dashed #333;
}

.ship_options{
	position: relative;
	display: inline-block;
	background: #333;
	color: #fff !important;
	border-radius: 2px;
	border: 0;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	text-align: center;
	padding: 10px;	
	cursor:pointer;
	text-decoration:none;
}

.ship_options:hover{
	background:#666;color:#fff !important;
	-moz-box-shadow: 1px 1px 1px #eee;
	-webkit-box-shadow: 1px 1px 1px #eee;
	box-shadow: 1px 1px 1px #eee;
}

.ship_options:active{
	top:2px;
	background:#666;color:#fff !important;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	box-shadow: 0px 0px 0px #333;
}

.ship_options_sel{
	position: relative;
	display: inline-block;
	background: #333;
	color: #fff !important;
	border-radius: 2px;
	border: 0;
	cursor:pointer;
	text-decoration:none;
	padding:10px;
	background:#900000;color:#fff !important;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	box-shadow: 0px 0px 0px #333;
}

.msg_res{
	border-left:2px solid #333;
	margin-left:10px;
	margin-top:10px;
	float:left;
	font-size:12px;
	color:#333;
	background:#F90;
	padding:7px;
	border-radius:2px;	
}


.toggle_popup
{
	cursor: pointer;
	display: block;
	height: 20px;
	width: 200px;
	z-index: 999;
	position: relative;
	background:#333;
	color:#fff;
	padding:2px;
}
.popup
{
	padding:10px;
	height: 300px;
	width:  193px;
	border: 5px solid #333;
	margin: auto;
	top:0;
	right: 0;
	left: 0;
	top: 30%;
	position : fixed;
	z-index: 999;
	display: none;
	text-align: left;
	background:#EEE;
}
.close
{
	height: 20px;
	width: 20px;
	text-align: center;
	position: absolute;
	right: -10px;
	top: -10px;
	background-color: rgba(198,0,0,1);
	border-radius: 100%;
	cursor: pointer;
	color: white;
}
.scrollable li
{
	float: left;
	list-style: none;
}
 li.id
{
	width: 56px;
	border-bottom:1px solid #CCC;
	padding:10px 0;
}
 li.ip
{
	width: 104px;
	border-bottom:1px solid #CCC;
		padding:10px 0;
}
 li.counter
{
	width: 30px;
	border-bottom:1px solid #CCC;	
		padding:10px 0;
}

.scrollable
{
	height: 298px;
    overflow-y: scroll;
    width: 227px; 
}
.scroll-hide
{
	overflow: hidden;
}
.popup.active
{
	display: block;
}
.clear
{
	clear: both;
}