section {
    //  margin:10px;
}

body, td, input, select, file {
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

b, th {
    font-weight: 700;
}

.btn, .selectpicker, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}

#example input {
    width: 100%;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#example1 input {
    width: 100%;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#ex_single input {
    width: 100%;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*styles by kaleem*/

th.sorting {
    /* font-weight: 400 !important; */
    text-align: center;
    text-align: -webkit-center;
    text-align: center;
    font-size: 12px;
    /* font-size: 15px; */
    letter-spacing: 1px;
    /* word-spacing: 2px; */
}

table.dataTable thead .sorting_asc {
    text-align: -webkit-center;
    text-align: center;
    /* font-size: 1.7vmin; */
    font-size: 12px;
    font-weight: 500;
}

table.dataTable thead .sorting_desc {
    text-align: -webkit-center;
    text-align: center;
    /* font-size: 1.7vmin; */
    font-size: 12px;
    font-weight: 500;
}

#example>tbody {
    // height: 33vh;
    // position: absolute;
    // overflow: scroll;
    background: rgba(255, 255, 255, 0.55);
}

#example1>tbody {
    // height: 33vh;
    // position: absolute;
    // overflow: scroll;
    background: rgba(255, 255, 255, 0.55);
}

div#example_wrapper>.row:nth-child(3n) {
    font-size: 1.6vmin;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0.78), #dedede);
    width: 100%;
    box-shadow: 0px -4px 12px -3px rgba(0, 0, 0, 0.12);
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 3px;
    /* color: #ffffff; */
    height: 7%;
    vertical-align: middle;
    border-top: 1px solid #bbbbbb;
}

table.dataTable thead>tr>th {
    // padding-left: 0px;
    // padding-right: 0px;
}

.dataTables_scrollHead {
    //overflow: auto!important;
    border: 0px;
    width: 100%;
}

.dataTables_scrollHeadInner {
    padding-left: 0!important;
    background: white;
}

.dataTables_scroll {
    box-shadow: 0px 18px 15px -18px rgba(0, 0, 0, 0.29);
    background: #ffffff;
    font-size: 0.8vmax;
    border: 1px solid rgb(221, 221, 221);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #22bfb1;
    border-color: #076f65;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 0.6vmin 1.2vmin;
    font-size: 1.6vmin;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #009688;
    text-decoration: none;
    background-color: #fff;
    border: 0.1vmin solid #ddd;
}

.navbar.navbar-material.navbar-fixed-top {
    background: linear-gradient( rgba(0, 119, 108, 0.62), rgba(0, 119, 108, 0.62)), url(../img/header_bg.jpg);
    background-size: contain;
    background-repeat: repeat;
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.42);
    //  letter-spacing: 1px;
}

#example tbody td {
    padding: 0.5%;
    font-size: 12px;
    /* font-weight: 300; */
    font-family: inherit;
    letter-spacing: 0px;
    vertical-align: middle;
    word-spacing: 4px;
    color: #5f5e5e;
    text-align: left;
    text-align: -webkit-left;
    text-transform: none;
    text-rendering: optimizeSpeed;
    text-overflow: ellipsis;
    /* overflow-x: auto; */
    animation-name: animatebottom;
    animation-duration: 0.5s;
}

#example1 tbody td {
    padding: 0.5%;
    font-size: 12px;
    /* font-weight: 300; */
    font-family: inherit;
    letter-spacing: 1px;
    word-spacing: 4px;
    color: #444444;
    text-align: left;
    text-align: -webkit-left;
    text-transform: none;
    text-rendering: optimizeSpeed;
    text-overflow: ellipsis;
    overflow-x: auto;
}

div#example_length {
    /* background: #f9f9f9; */
    position: fixed;
    bottom: 0px;
    z-index: 15;
    font-size: 1.6vmin;
    padding-left: 3vmin;
    text-transform: capitalize;
    color: #7d7d7d;
}

div#example_info {
    /* margin-left: 37%; */
    margin-bottom: 0%;
    /* display: inline; */
    /* display: initial; */
    position: fixed;
    text-align: center;
    width: 100%;
    color: #0e4a44;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 1%;
}

div.dataTables_length select {
    width: 75px;
    /* display: -webkit-box; */
    font-size: 1.6vmin;
}

table.dataTable thead>tr>th {
    vertical-align: middle;
    font-weight: 400;
    text-transform: uppercase;
}

div#example_wrapper>.row:nth-child(1)>.col-sm-6 {
    width: 100%;
    /* padding: 3px; */
    float: right;
}

div#example_wrapper>.row:nth-child(3n)>.col-sm-6 {
    /* padding-top: 0px; */
}

button.mapping:focus {
    background: #3cd4bf;
    color: white;
}

#example tbody tr>td:nth-child(2) {
    background: rgba(0, 0, 0, 0.02);
    text-align: left;
    overflow: auto;
}

#example1 tbody tr>td:nth-child(2) {
    background: rgba(0, 0, 0, 0.02);
    text-align: left;
    overflow: auto;
}

input#searchkal:focus {
    border-bottom: 1px solid rgb(96, 218, 201);
    width: 23vmax;
}

input#searchkal {
    padding-left: 1%;
    padding-right: 4%;
    color: #5f5f5f;
    /* text-align: left; */
    background: rgb(255, 255, 255) url(../img/search.gif) no-repeat 95%;
    /* border-bottom: 1px solid rgb(96, 218, 201); */
    width: 13vmax;
    left: 0;
    position: relative;
    /* margin-bottom: 10px; */
    z-index: 1;
    /* top: 12%; */
    border-radius: 4px;
    font-size: 14px;
    /* font-weight: 100; */
    box-shadow: 0px 1px 9px -4px rgb(0, 0, 0);
    transition: 0.3s;
    box-shadow: 0px 3px 3px -1px rgb(206, 206, 206);
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}

div#example_wrapper>.row:nth-child(3n)>.col-sm-6>.dataTables_paginate {
    padding: 0.9vmin 4.3vmin;
    width: 50%;
    position: fixed;
    text-align: end;
    /* margin-right: 71%!important; */
    /* display: block; */
}

div#example_wrapper {
    margin-bottom: 4%;
    margin-top: 1%;
}

div#example_wrapper>.row:nth-child(1)>.col-sm-6>.dataTables_filter {
    position: relative !important;
    display: inherit !important;
    background: rgb(255, 255, 255) url(../img/search.gif) no-repeat 95%;
    border-radius: 1px;
    font-size: 14px;
    /*width: 11%;*/
    float: right;
    margin: 3px;
    box-shadow: 0px 1px 9px -4px rgb(0, 0, 0);
    transition: 0.3s;
    box-shadow: 0px 3px 3px -1px rgb(206, 206, 206);

}

button.btn-block.dwn-btn:hover {
    background: green;
    box-shadow: 0px 2px 8px -3px black;
}

button.btn-block.dwn-btn {
    background: #4CAF50;
}

/*.dataTables_filter {
    display: inherit;
}*/


/*for acticve button*/

button.mapping {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: white;
    margin: 0% 0%;
    border: 0;
    padding: 7px 15px;
    font-size: 14px;
    font-family: Open sans;
    letter-spacing: 1px;
    color: #289989;
    box-shadow: 0px -3px 8px -6px black;
    /* border-bottom: 1px solid #ffffff; */
}

button.choosed {
    background: #279687!important;
    color: white!important;
    box-shadow: inset 0px -3px 8px -4px black!important;
    border-bottom: 1px solid #ffffff !important;
}

button.btn-block.dwn-btn:focus {
    box-shadow: inset 0px -2px 8px -4px black !important;
}

input.mappingbox {
    padding: 4px 7px !important;
    color: #717171;
    text-align: left;
    background: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(96, 218, 201); */
    position: relative;
    /* margin-bottom: 10px; */
    /* z-index: 1; */
    /* top: 12%; */
    /* border-radius: 2px; */
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.38);
    transition: 0.3s;
    border: 1px solid rgba(111, 111, 111, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}


/*div.dataTables_processing {
        position: absolute;
        color: rgba(255, 255, 255, 0.74);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 60px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 1.2em;
         background-color: white;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(40, 153, 137, 0.57)), color-stop(75%, rgba(38, 150, 134, 0.57)), color-stop(100%, rgba(255,255,255,0)));
         background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
         background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    }
    */


/*designed by kaleem elahi*/

 ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border: 4px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #454545;
}

 ::-webkit-scrollbar-thumb:active {
    background: #000000;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 5px none #ffffff;
    border-radius: 0px;
}

 ::-webkit-scrollbar-track:hover {
    background: #e9e9e9;
}

 ::-webkit-scrollbar-track:active {
    background: #d3d3d3;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

#example>tbody>tr>td>.typeahead>li {
    /*    animation-name: animatebottom;*/
    transition: 0.5s;
    /*animation-duration: 1s;*/
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent !IMPORTANT;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: text !important;
    background: white !important;
    border: 1px solid #dbdbdb;
    text-align: left !important;
    padding: 0% 2%;
}

.selectize-control.single .selectize-dropdown [data-selectable], .selectize-control.multi .selectize-dropdown [data-selectable], .selectize-control.single .selectize-dropdown .optgroup-header, .selectize-control.multi .selectize-dropdown .optgroup-header {
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    padding: 1%;
    text-align: left;
    text-shadow: 0px 1px 1px #dedede;
    color: #383838;
}

.selectize-control.single .selectize-dropdown .active, .selectize-control.multi .selectize-dropdown .active {
    background-color: inherit;
    background: #337ab7 !important;
    color: white !important;
    text-align: left;
    text-shadow: 0px 1px 1px #767272 !important;
}

.selectize-control.single .selectize-input, .selectize-control.multi .selectize-input, .selectize-control.single .selectize-input.input-active, .selectize-control.multi .selectize-input.input-active {
    cursor: text;
    background: transparent;
    box-shadow: inset 0px -3px 13px -7px grey;
    border: 1px solid #dddddd!important;
    padding: 0;
    height: 100%;
    font-size: 12px!important;
    line-height: 30px;
    overflow: hidden!important;
}

.selectize-control.single .selectize-input>div, .selectize-control.multi .selectize-input>div, .selectize-control.single .selectize-input.input-active>div, .selectize-control.multi .selectize-input.input-active>div, .selectize-control.single .selectize-input>.item, .selectize-control.multi .selectize-input>.item, .selectize-control.single .selectize-input.input-active>.item, .selectize-control.multi .selectize-input.input-active>.item {
    display: inline-block;
    margin: 0 8px 3px 0;
    padding: 0% 2%;
    background: rgba(255, 255, 255, 0);
    border: 0;
}

.selectize-control.single .selectize-dropdown .highlight, .selectize-control.multi .selectize-dropdown .highlight {
    background-color: rgba(134, 134, 134, 0) !important;
    font-weight: 800;
}


/*.selectize-control.mappingbox::before {-moz-transition: opacity 0.2s;-webkit-transition: opacity 0.2s;transition: opacity 0.2s;content: ' ';z-index: 2;position: absolute;display: block;top: 12px;right: 1%;width: 16px;height: 16px;background: url(images/spinner.gif);background-size: 16px 16px;opacity: 0;}*/

.selectize-control.single .selectize-input, .selectize-control.multi .selectize-input, .selectize-control.single .selectize-input.input-active, .selectize-control.multi .selectize-input.input-active {
    cursor: text;
    background: transparent;
    box-shadow: inset 0px -3px 13px -7px grey;
    border: 1px solid #dddddd!important;
    padding: 0;
    height: 100%;
    font-size: 12px!important;
    line-height: 30px;
    overflow: hidden!important;
    z-index: 0;
}

.selectize-control.movies::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.movies::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 1%;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.abc {
    background-color: orange
}

#example tbody tr>td:nth-child(7) {
    text-align: left;
}

.uploadme {
    border: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.41);
}

.uploadme:focus {
    border: 3px dotted #86d9ff;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.41);
}

ul.dropdown-menu {
    margin-top: 0%;
}

#example>tbody>tr>td>.dropdown-menu {
    left: auto !important;
    right: 1.57%;
    right: -moz-calc(1*2.1%);
}

td>.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    /* animation-name: animatetop; */
    animation-duration: 1s;
    z-index: 1000;
    transition: 1s;
    float: left;
    padding: 3px 0px;
    min-width: 24.3%;
    /* min-height: 27%; */
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px 0px 7px 7px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32);
}

div#example_wrapper>.row:nth-child(3n)>.col-sm-6>.dataTables_paginate {
    padding: 0.9vmin 4.3vmin;
    width: 44%;
    position: fixed;
    text-align: end;
    /* margin-right: 71%!important; */
    /* display: block; */
}

div.dataTables_processing {
    border: 6px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top: 6px solid rgb(11, 180, 156);
    width: 52px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.05) no-repeat;
    margin: 0!important;
    /* background-size: 98%; */
    /* box-shadow: inset 0px 0px 12px -4px black,0px 0px 16px rgba(0, 0, 0, 0.06); */
}

.dropdown {
    position: absolute;
    bottom: 0;
}

.reverse {
    top: auto!important;
    bottom: 8%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload.btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26) !important;
    background: linear-gradient(rgb(102, 207, 255), #03A9F4)!important;
}

.upload {
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "tbody td" */

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 50px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

section {
    margin-top: 1%;
}
