@charset "utf-8";
/* CSS Document */

label {
    /*letter-spacing:1px;*/
	font-family:Tahoma;font-size:12px;
}

/* Applying styles to our text boxes */
input,select{
	font-family:Tahoma;font-size:12px;border:1px solid #666;margin-top:5px;font-size:12px;
}
#submit {
    font-weight:bold; height:35px;   cursor:pointer;background-color:#CCC;border:2px solid #999;
}

.ui-button {display:none;}

.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 3px;
/* support: IE7 */
*height: 1.7em;
*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	width:170px;
}



h1{
font-family:tahoma;	
}
