
body,html{

  /*background-color: #f7f7f7;*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Open Sans';
}

nav{
  height: 70px;
  text-align: center;
  background: transparent;
  line-height: 70px;
  color: black;
  font-size: 40px;
}

.principal{
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

/*.second{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: black;
  padding: 20%;
}*/

/*.buttons{
  padding: 20px;
  text-align: center;
}*/


/*.btn{
  font-size: 18px;
  border: none;
  padding: 15px;
  width: 170px;
  outline: none;
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}*/

.btn:hover{
  cursor: pointer;
}

.nrm:hover{
  background: #3c3b3b;
  color: white;
}

.scs:hover{
  background: #44be75;
  color: white;
}


.conn:hover{
  background: #44be75;
  color: white;
}

.err:hover{
  background: #c33c3c;
  color: white;
}

.ft:hover{
  background: none;
}

code{
  background: white;
  border-left: 4px solid #3df16a;
  padding: 2px;
}

p{
  margin: 10px auto;
}



/* For Snakbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}




#toastem {
    position: fixed;
    z-index: 999;
    top: 11%;
    right: 12px;
    /* background: rgba(250, 235, 215, 0.09); */
}
.notification {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
    padding: 16px;
    width: 300px;
    border-radius: 3px;
    color: white;
    right: -400px;
    font-weight: 800;
    letter-spacing: 0.5px;
    box-shadow: 0px 11px 19px -2px rgba(0, 0, 0, 0.09);
    text-transform: capitalize;
} 
.normal{
  background: #3c3b3b!important;
}
.success{
  background: #44be75!important;
}
.info{
  background: #008af5!important;
}
.danger{
  background: #ff655a!important;
}

.connected{
  background: lightgreen!important;
}


.red-block {
    background: #F44336;
    width: 20%;
    float: right;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(35, 13, 11, 0.43), 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.green-block {
    background: #4CAF50;
    width: 20%;
    float: right;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(35, 13, 11, 0.43), 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}