@charset "utf-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Roboto:400,600,700');
/*
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('http://fonts.googleapis.com/css?family=PT+Sans:normal,bold');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:normal,bold');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:normal,bold');
*/

.bodymargin{
	margin-left:15px;	
	margin-right:15px;		
}

body,input,select,td{font:13px 'Roboto',Helvetica,Arial,sans-serif}
.lg{width:250px;}

td{vertical-align:top;}

#slabreachbg{background:rgb(66, 184, 221);color:#FFF;}
#selAll{background:#EEE;}

.printed {
            color: white;
            border-radius: 2px;
			background: #C60000; /* rgb(66, 184, 221); this is a light blue */
        }
.pending {
            color: white;
            border-radius: 2px;
			background: rgb(66, 184, 221); /* rgb(66, 184, 221); this is a light blue */
			display:inline;
        }		
		
.download {
            color: white;
            border-radius: 2px;
			background: rgb(66, 184, 221); /* rgb(66, 184, 221); this is a light blue */
        }	
		
.pure-menu-selected {
	background:rgb(66, 184, 221);
}		

.button-xsmall{
	color: white;
	padding:2px 12px;
	background:rgb(66, 184, 221); /*this is a light blue */
}

.button-xlarge{
	font-size: 125%;
	color: white;
	font-weight:bold;
	padding:2px 12px;
	background:rgb(66, 184, 221); /*this is a light blue */

}


.updateinfo{
	font-size: 125%;
	color: white;
	font-weight:bold;
	padding:2px 12px;
	background:#333;
}

